<div  style="padding: 10px; background: white;">
    <DIV id="page_1" id="capture">
      <DIV id="id1_1">
        <TABLE cellpadding="0" cellspacing="0" class="t0">
          <TR>
            <TD class="tr0 td0">
              <P class="p0 ft0">346226 Cust No</P>
            </TD>
            <TD class="tr0 td1">
              <P class="p1 ft2"><SPAN class="ft1">DATE:</SPAN>2019-02-04</P>
            </TD>
          </TR>
          <TR>
            <TD class="tr1 td0">
              <P class="p0 ft3">P O BOX 4714</P>
            </TD>
            <TD class="tr1 td1">
              <P class="p1 ft4">&nbsp;</P>
            </TD>
          </TR>
          <TR>
            <TD class="tr1 td0">
              <P class="p0 ft3">RAK</P>
            </TD>
            <TD class="tr1 td1">
              <P class="p1 ft4">&nbsp;</P>
            </TD>
          </TR>
          <TR>
            <TD class="tr2 td0">
              <P class="p0 ft0">RAK,,United Arab Emirates</P>
            </TD>
            <TD class="tr2 td1">
              <P class="p1 ft5">&nbsp;</P>
            </TD>
          </TR>
          <TR>
            <TD class="tr3 td2">
              <P class="p1 ft6">&nbsp;</P>
            </TD>
            <TD class="tr3 td3">
              <P class="p1 ft6">&nbsp;</P>
            </TD>
          </TR>
        </TABLE>
      </DIV>
      <DIV id="id1_2">
        <DIV id="id1_2_1">
          <P class="p2 ft7"
            >OUR BILL REF OUR REF ISSUING BANK' ISSUING BANK'S REF APPLICANT</P
          >
          <P class="p3 ft8">L/C AMOUNT</P>
          <P class="p4 ft8">BILL AMOUNT</P>
          <P class="p4 ft8">TENOR</P>
        </DIV>
        <DIV id="id1_2_2">
          <P class="p5 ft11"
            ><SPAN class="ft9">:</SPAN><SPAN class="ft10">EPDAE-1819000045</SPAN
            ><SPAN class="ft0"> </SPAN>(PLEASE QUOTE OUR REFERENCE ON ALL
            CORRESPONDENCE)</P
          >
          <P class="p4 ft0"
            ><SPAN class="ft9">:</SPAN><SPAN class="ft10">ELC55-181041</SPAN></P
          >
          <P class="p4 ft0"
            ><SPAN class="ft9">:</SPAN
            ><SPAN class="ft10">UNITED ARAB </SPAN>BANK-SHARJAH</P
          >
          <P class="p4 ft0"
            ><SPAN class="ft9">:</SPAN
            ><SPAN class="ft10">ILC1011/18/66789</SPAN></P
          >
          <P class="p6 ft0"
            ><SPAN class="ft9">:</SPAN
            ><SPAN class="ft10">PIVOT ENGINEERING AND GENERAL</SPAN></P
          >
          <P class="p4 ft0"
            ><SPAN class="ft9">:</SPAN
            ><SPAN class="ft10">AED 1,529,264.10</SPAN></P
          >
          <P class="p4 ft0"
            ><SPAN class="ft9">:</SPAN><SPAN class="ft10">AED 100.00</SPAN></P
          >
          <P class="p4 ft0"
            ><SPAN class="ft9">:</SPAN
            ><SPAN class="ft10">105 DAYS FROM DATE OF DELIVERY OF</SPAN>
          </P>
          <P class="p7 ft0">GOODS</P>
        </DIV>
      </DIV>
      <DIV id="id1_3">
        <P class="p8 ft0"
          >We refer to your letter dated 2018-08-07 and advise that as per your
          instructions & without any risk / responsiblity on our part we have
          forwarded the above documents to issuing bank/nominated bank for thier
          acceptance / payment on due date.</P
        >
        <P class="p9 ft0">We shall advise you further upon hearing from them.</P>
        <P class="p10 ft8">FOR ABU DHABI ISLAMIC BANK</P>
        <P class="p11 ft8">TRADE FINANCE DEPARTMENT , ABU DHABI</P>
        <TABLE cellpadding="0" cellspacing="0" class="t1">
          <TR>
            <TD class="tr4 td4">
              <P class="p1 ft8">AUTHORIZED SIGNATURE</P>
            </TD>
            <TD class="tr4 td5">
              <P class="p1 ft8">AUTHORIZED SIGNATURE</P>
            </TD>
          </TR>
        </TABLE>
        <P class="p12 ft1"
          >Subject to the UCP for Documentary Credits (2007 Rev.) ICC Publication
          No.600</P
        >
      </DIV>
    </DIV>

  <div class="mr-2">
    <ng-container>
      <button
        type="button"
        class="btn btn-lg btn-light-primary me-3"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-lg btn-light-primary me-3"
        printSectionId="capture"
        ngxPrint
      >
        Print
      </button>
    </ng-container>  
  </div>
</div>