<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      customer
    </div>
  </div>
  <div class="modal-body">
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <mat-table [dataSource]="dataSource" matSort style="width: 100%;"
                   class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">

          <!-- ID Column -->
          <ng-container matColumnDef="customerId" class="min-w-150px">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="min-w-150px"> Customer Id</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.customerId}} </mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="emailAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email Address</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.emailAddress}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="transactionStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Status</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.transactionStatus.toLowerCase()}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;"
                   [style.background-color]="row.transactionStatus === 'PENDING' ? '#ceebfc' : 'white'"
                   (click)="c(row)">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modalService.dismiss()">Cancel</button>
  </div>
</div>





