<div class="card-body">
  <div [formGroup]="HolidayForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Holiday Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col">
          <div class="floating-label_mandatory">
            <input class="floating-input_mandatory" type="text" name="name" id="name"
                   formControlName="name">
            <label class="label_OA required">Holiday Name</label>
          </div>
        </div>
        <div class="col">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="description"
                   [class.is-invalid]="isControlInvalid('description')"
                   [class.is-valid]="isControlValid('description')"
                   formControlName="description"/>
            <label class="label_OA_mandatory required">Description</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col">
          <div class="floating-label_mandatory">
            <input class="floating-input_mandatory" type="text" name="businessUnit" id="businessUnit"
                   formControlName="businessUnit">
            <label class="label_OA_mandatory required">Business Unit</label>
          </div>
        </div>
        <div class="col">
          <div class="floating-label_mandatory">
            <input type="date" class="floating-input_mandatory" autocomplete="off"
                   name="date"
                   [class.is-invalid]="isControlInvalid('date')"
                   [class.is-valid]="isControlValid('date')"
                   formControlName="date"/>
            <label class="label_OA_mandatory required">Holiday Date</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
