<div class="card-body">
  <div [formGroup]="corporateUserForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Corporate User Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="userId" id="userId"
                   formControlName="userId" readonly>
            <label class="label_OA required">User Id</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input type="email" class="floating-input_mandatory" autocomplete="off"
                   name="emailAddress"
                   [class.is-invalid]="isControlInvalid('emailAddress')"
                   [class.is-valid]="isControlValid('emailAddress')"
                   formControlName="emailAddress"/>
            <label class="label_OA_mandatory">Email Address</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="firstName"
                   formControlName="firstName"
                   [class.is-invalid]="isControlInvalid('firstName')"
                   [class.is-valid]="isControlValid('firstName')"
            />
            <label class="label_OA_mandatory">First Name</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="lastName"
                   formControlName="lastName"
                   [class.is-invalid]="isControlInvalid('lastName')"
                   [class.is-valid]="isControlValid('lastName')"
            />
            <label class="label_OA_mandatory"> Last Name </label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="date" name="effectiveDate" id="effectiveDate"
                   formControlName="effectiveDate" name="effectiveDate"
                   [class.is-invalid]="isControlInvalid('effectiveDate')"
                   [class.is-valid]="isControlValid('effectiveDate')">
            <label class="label_OA required">Effective Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input class="floating-input_mandatory" type="date" name="expiryDate" id="expiryDate"
                   formControlName="expiryDate" name="expiryDate" [class.is-invalid]="isControlInvalid('expiryDate')"
                   [class.is-valid]="isControlValid('expiryDate')">
            <label class="label_OA required">Expiry Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <div>
              <angular2-multiselect [data]="dropdownList"
                                    [(ngModel)]="selectedItems"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)"
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)" formControlName="roles">
              </angular2-multiselect>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input form-check-input" type="checkbox" id="status" name="status" value="yes"
                   checked [disabled]="ReadOnlyCheckBox">
            <label class="label_OA_mandatory form-check-label required">Status</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="customerId"
                     id="customerId"
                     formControlName="customerId"
                     [class.is-invalid]="isControlInvalid('customerId')"
                     [class.is-valid]="isControlValid('customerId')">
              <label class="label_OA_mandatory">Corporate User</label>
              <span class="input-group-text_OA" (click)="openCustomerDialog()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
