<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-dark">Admin Information</h2>
</div>
<div [formGroup]="form">
  <div class="fv-row mb-10">
    <label class="form-label required">User Id</label
    ><input
    name="userId"
    class="form-control form-control-lg form-control-solid"
    formControlName="userId" placeholder="User Id"
  />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('userId')?.hasError('required') &&
        form.get('userId')?.touched
      "
    >
      UserId is required
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="form-group">
        <label class="form-label required">First Name</label>
        <input
          type="text"
          class="form-control form-control-lg form-control-solid"
          name="firstName"
          formControlName="firstName"
          placeholder="First Name"
        />
      </div>
    </div>
    <div class="col-xl-6">
      <label class="form-label required">Last Name</label
      ><input
      type="text"
      class="form-control form-control-lg form-control-solid"
      name="lastName"
      formControlName="lastName"
      placeholder="Last Name"
    />
    </div>
  </div>
  <div class="fv-row mb-0">
    <label class="fs-6 fw-bold form-label required">Email Address</label
    ><input
    name="emailAddress"
    class="form-control form-control-lg form-control-solid"
    formControlName="emailAddress"
  />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('emailAddress')?.hasError('required') &&
        form.get('emailAddress')?.touched
      "
    >
      Email Address is required
    </div>
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('emailAddress')?.hasError('email') &&
        form.get('emailAddress')?.touched
      "
    >
      Wrong email format
    </div>
  </div>
  <div class="row">
    <div class="col-xl-10">
      <div class="form-group">
        <label class="form-label required">Customers</label>
        <input
          type="text"
          class="form-control form-control-lg form-control-solid"
          name="customers"
          formControlName="customers"
          placeholder="Customers"
        />
        <a (click)="openCustomerDialog(content)"
           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
                      class="svg-icon svg-icon-3"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      <ng-container matColumnDef="customerId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row" (click) = "selectedCustomer(row.customerId)">{{row.customerId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let row" (click) = "selectedCustomer(row.customerId)"> {{row.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.emailAddress}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Url</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="transactionStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created at</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.transactionStatus}}</mat-cell>
      </ng-container>

      <mat-row (click)="c(row)"
               *matRowDef="let row;  columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</ng-template>
