<div class="card">
  <div class="toolBar card-header">
    <div class="toolBarTitle card-title">
      Buyer Approval Invoice Dashboard
    </div>
  </div>
  <div class="card">
    <div class="d-flex align-items-sm-start py-1">
      <div class="card-header" style="vertical-align: middle;">
        <div class="me-4">
          <a
            class="btn btn-sm btn-flex btn-light-warning btn-active-light fw-bolder cursor-pointer"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end" (click)="openFilter()"
          >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen031.svg'"
          class="svg-icon svg-icon-5 svg-icon-gray-500 me-1"
        ></span>
            Filter
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div>
        <table mat-table [dataSource]="dataSource" class="" cdkDropList
               cdkDropListOrientation="horizontal"
               (cdkDropListDropped)="drop($event)"
               matSort (matSortChange)="sortChanges($event)"
               style="overflow-x: scroll; overflow-y: scroll"
        >

          <!--        &lt;!&ndash; Checkbox Column &ndash;&gt;-->
          <!--        <ng-container matColumnDef="select">-->
          <!--          <th mat-header-cell *matHeaderCellDef   mat-sort-header>-->
          <!--            <mat-checkbox (change)="$event ? masterToggle() : null"-->
          <!--                          [checked]="selection.hasValue() && isAllSelected()"-->
          <!--                          [indeterminate]="selection.hasValue() && !isAllSelected()"-->
          <!--                          [aria-label]="checkboxLabel()">-->
          <!--            </mat-checkbox>-->
          <!--          </th>-->
          <!--          <td mat-cell *matCellDef="let row">-->
          <!--            <mat-checkbox (click)="$event.stopPropagation()"-->
          <!--                          (change)="$event ? selection.toggle(row) : null"-->
          <!--                          [checked]="selection.isSelected(row)"-->
          <!--                          [aria-label]="checkboxLabel(row)">-->
          <!--            </mat-checkbox>-->
          <!--          </td>-->
          <!--        </ng-container>-->


          <ng-container matColumnDef="invoiceNumber">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > InvoiceNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="sbrReferenceId">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> SBR No</th>
            <td mat-cell *matCellDef="let element"> {{element.sbrReferenceId}} </td>
          </ng-container>

          <ng-container matColumnDef="agreementId">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Agreement No</th>
            <td mat-cell *matCellDef="let element"> {{element.agreementId}} </td>
          </ng-container>

          <ng-container matColumnDef="currency">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Currency</th>
            <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="dueDate">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Due Date</th>
            <td mat-cell *matCellDef="let element"> {{element.dueDate | date: 'MM/dd/YYYY'}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Actions</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_ADMIN_MAKER')) && element.transactionStatus != 'MASTER'">
                <a (click)="openInvoiceDialog(element,'edit')" title="Edit Transaction"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                </a>
              </ng-container>
              <ng-container *ngIf="authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_USER_CHECKER')
          || authRoles.includes('BANK_USER_VIEWER')
          || authRoles.includes('BANK_ADMIN_MAKER')
          || authRoles.includes('BANK_ADMIN_CHECKER')
          || authRoles.includes('BANK_ADMIN_VIEWER')">
                <a ng-if="(this.authRoles.includes('SUPER_ADMIN')" title="View Transaction"
                   (click)="openInvoiceDialog(element,'view')"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Code/Compiling.svg'"
                      class="svg-icon svg-icon-md svg-icon-success"></span>
                </a>
              </ng-container>
              <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_USER_CHECKER')
          || authRoles.includes('BANK_USER_VIEWER')
          || authRoles.includes('BANK_ADMIN_MAKER')
          || authRoles.includes('BANK_ADMIN_CHECKER')
          || authRoles.includes('BANK_ADMIN_VIEWER' ))">
                <a
                  title="Authorize Transaction" (click)="openInvoiceDialog(element,'authBuyer')"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
                      class="svg-icon svg-icon-md svg-icon-warning"></span>
                </a>
              </ng-container>
              <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_ADMIN_VIEWER')
          || authRoles.includes('BANK_USER_VIEWER')) ">
                <a title="View History" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                   (click)="openInvoiceDialog(element,'viewHistory')">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Clipboard-list.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                </a>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
              (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
              (mouseout)="row.hovered = false"></tr>
        </table>
        <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
