<div class="modal-header">
  <h2 class="modal-title">View Invoices Histroy</h2>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('Cancel')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <!-- begin::Table -->
    <table matTableExporter #exporter="matTableExporter" mat-table [dataSource]="dataSource" class="" cdkDropList
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="drop($event)"
           matSort
           style="overflow-x: scroll; overflow-y: scroll"
    >

      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
        <td mat-cell *matCellDef="let row"> {{row[column.columnDef]}} </td>
      </ng-container>
      <!-- ID Column -->
      <!--      <ng-container matColumnDef="invoiceNumber" class="min-w-150px">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">INV No</mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row"> {{row.invoiceNumber}} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="sbrReferenceId">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">SBR No</mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.sbrReferenceId}} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      &lt;!&ndash; Name Column &ndash;&gt;-->
      <!--      <ng-container matColumnDef="agreementId">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Agreement No-->
      <!--        </mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row" class="label label-lg label-inline">{{row.agreementId}}-->
      <!--        </mat-cell>-->
      <!--      </ng-container>-->

      <!--      &lt;!&ndash; Name Column &ndash;&gt;-->
      <!--      <ng-container matColumnDef="currency">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">CCY</mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.currency}} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="amount">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Amount</mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row"> {{row.amount }} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="dueDate">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Due Date-->
      <!--        </mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row"> {{ row.dueDate | date: 'MM/dd/YYY' }} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="status">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Status</mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="eventName">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Event Name-->
      <!--        </mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row"> {{ row.eventName }} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="eventUser">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Event User-->
      <!--        </mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row"> {{ row.eventUser }} </mat-cell>-->
      <!--      </ng-container>-->

      <!--      <ng-container matColumnDef="eventDate">-->
      <!--        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Event Date-->
      <!--        </mat-header-cell>-->
      <!--        <mat-cell *matCellDef="let row"> {{ row.eventDate }} </mat-cell>-->
      <!--      </ng-container>-->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
          (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"></tr>
    </table>
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
    <!-- end::Table -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('Cancel')">Cancel</button>
  </div>
</div>
