<div class="pb-15 pb-lg-8">
  <h3 class="fw-bolder text-dark">Invoice Info</h3>
</div>
<div [formGroup]="form" id="form">
  <div class="form-group row">
    <div class="col-lg-3">
      <label class="form-label required">Invoice Number</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Invoice Number" name="invoiceNumber" [class.is-invalid]="isControlInvalid('invoiceNumber')"
             [class.is-valid]="isControlValid('invoiceNumber')" formControlName="invoiceNumber"/>
    </div>
    <div class="col-lg-3">
      <label class="form-label required">SBR Reference Number</label>
      <input type="text" class="form-control form-control-solid" id="sbrReferenceId" name="sbrReferenceId"
             placeholder="SBR Reference Number" formControlName="sbrReferenceId"
             [class.is-invalid]="isControlInvalid('sbrReferenceId')"
             [class.is-valid]="isControlValid('sbrReferenceId')" readonly>
    </div>
    <div class="col-lg-3">
      <label class="form-label required">Agreement Number</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Agreement Number" name="agreementId" [class.is-invalid]="isControlInvalid('agreementId')"
             [class.is-valid]="isControlValid('agreementId')" formControlName="agreementId" readonly/>
    </div>
    <div class="col-lg-3">
      <label class="form-label required">Anchor Id</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Anchor Id" name="anchorId" [class.is-invalid]="isControlInvalid('anchorId')"
             [class.is-valid]="isControlValid('anchorId')" formControlName="anchorId" readonly/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3">
      <label class="form-label required">CounterParty Id</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="CounterParty Id" name="counterPartyId" [class.is-invalid]="isControlInvalid('counterPartyId')"
             [class.is-valid]="isControlValid('counterPartyId')" formControlName="counterPartyId" readonly/>
    </div>
    <div class="col-lg-3">
      <label class="form-label required">Document Type</label>
      <select
        class="form-control form-control-sm form-control-solid selected"
        name="documentType"
        formControlName="documentType" [class.is-invalid]="isControlInvalid('documentType')"
        [class.is-valid]="isControlValid('documentType')"
      >
        <option value="INVOICE">Invoice</option>
      </select>
    </div>
    <div class="col-lg-3">
      <label>Document Number</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="documentNumber" name="documentNumber" [class.is-invalid]="isControlInvalid('documentNumber')"
             [class.is-valid]="isControlValid('documentNumber')" formControlName="documentNumber"/>
    </div>
    <div class="col-lg-3">
      <label class="form-label required"> Currency & Amount </label>
      <div class="row fv-row">
        <div class="col-4">
          <select
            class="form-control form-control-sm form-control-solid"
            name="currency"
            formControlName="currency" [class.is-invalid]="isControlInvalid('currency')"
            [class.is-valid]="isControlValid('currency')">
            <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
          </select>
        </div>
        <div class="col-8">
          <input class="form-control form-control-sm form-control-solid" autocomplete="off"
                 placeholder="Amount" name="amount" [class.is-invalid]="isControlInvalid('amount')"
                 [class.is-valid]="isControlValid('amount')" formControlName="amount"
                 currencyMask/>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5 pb-lg-8">
    <h4 class="fw-bolder text-dark">Business Info</h4>
  </div>
  <div class="form-group row">
    <div class="col-lg-3">
      <label class="form-label required">Invoice Date</label>
      <input type="date" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Issue Date" name="date" [class.is-invalid]="isControlInvalid('date')"
             [class.is-valid]="isControlValid('date')" formControlName="date"/>
    </div>
    <div class="col-lg-3">
      <label class="form-label required">Value Date</label>
      <input type="date" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="valueDate" name="valueDate" [class.is-invalid]="isControlInvalid('valueDate')"
             [class.is-valid]="isControlValid('valueDate')" formControlName="valueDate"/>
    </div>
    <div class="col-lg-3">
      <label class="form-label required">Due Date</label>
      <input type="date" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="dueDate" name="dueDate" [class.is-invalid]="isControlInvalid('dueDate')"
             [class.is-valid]="isControlValid('dueDate')" formControlName="dueDate"/>
    </div>
    <div class="col-lg-3">
      <label>Port Of Loading</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="portOfLoading" name="portOfLoading" [class.is-invalid]="isControlInvalid('portOfLoading')"
             [class.is-valid]="isControlValid('portOfLoading')" formControlName="portOfLoading"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3">
      <label>Port Of Discharge</label>
      <input type="portOfDischarge" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="portOfDischarge" name="portOfDischarge" formControlName="portOfDischarge"/>
    </div>
    <div class="col-lg-3">
      <label>Shipment Corporation</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="shipmentCorporation" name="shipmentCorporation" formControlName="shipmentCorporation"/>
    </div>
    <div class="col-lg-3">
      <label>Real Beneficiary</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="realBeneficiary" name="realBeneficiary" formControlName="realBeneficiary"/>
    </div>
    <div class="col-lg-3">
      <label class="form-label required"> Invoice Service Currency & Amount </label>
      <div class="row fv-row">
        <div class="col-4">
          <select
            class="form-control form-control-sm form-control-solid"
            name="currency"
            formControlName="invoiceServiceChargeCurrency"
            [class.is-invalid]="isControlInvalid('invoiceServiceChargeCurrency')"
            [class.is-valid]="isControlValid('invoiceServiceChargeCurrency')">
            <option value="{{invoiceServiceChargeCurrency.code}}"
                    *ngFor="let invoiceServiceChargeCurrency of currencyList">{{invoiceServiceChargeCurrency.code}}</option>
          </select>
        </div>
        <div class="col-8">
          <input class="form-control form-control-sm form-control-solid" autocomplete="off"
                 placeholder="invoiceServiceChargeAmount" name="invoiceServiceChargeAmount"
                 [class.is-invalid]="isControlInvalid('invoiceServiceChargeAmount')"
                 [class.is-valid]="isControlValid('invoiceServiceChargeAmount')"
                 formControlName="invoiceServiceChargeAmount"
                 currencyMask
          />
        </div>
      </div>
    </div>
  </div>
</div>
