<div class="card-body">
  <div [formGroup]="paymentForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Business Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-1 ">
          <div class="floating-label">
            <select class="floating-select_mandatory" name="paymentCurrency" id="paymentCurrency"
                    formControlName="paymentCurrency">
              <option value="{{paymentCurrency.code}}"
                      *ngFor="let paymentCurrency of currencyList">{{paymentCurrency.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="col-2 ">
          <div class="floating-label">
            <input class="floating-input_mandatory" autocomplete="off"
                   name="paymentAmount" formControlName="paymentAmount" placeholder=" "
                   currencyMask (focusout)="calculatePaymentDetails()">
            <label class="label_OA">Payment Amount</label>
          </div>
        </div>
        <div class="col-1 ">
          <div class="floating-label">
            <select class="floating-select_mandatory" name="financeCurrency" id="financeCurrency"
                    formControlName="financeCurrency">
              <option value="{{financeCurrency.code}}"
                      *ngFor="let financeCurrency of currencyList">{{financeCurrency.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="col-2 ">
          <div class="floating-label">
            <input class="floating-input_mandatory" autocomplete="off"
                   name="financeTotalDue" financeTotalDue="financeTotalDue" placeholder=" "
                   currencyMask>
            <label class="label_OA">Finance Total Due</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" autocomplete="off"
                   name="paymentTotalDue"
                   formControlName="paymentTotalDue"
                   [class.is-invalid]="isControlInvalid('paymentTotalDue')"
                   [class.is-valid]="isControlValid('paymentTotalDue')" formControlName="paymentTotalDue"
                   currencyMask/>
            <label class="label_OA">Payment Total Due</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="number" class="floating-input_mandatory" autocomplete="off"
                   name="interestRefunded"
                   formControlName="interestRefunded"
                   [class.is-invalid]="isControlInvalid('interestRefunded')"
                   [class.is-valid]="isControlValid('interestRefunded')"
                   formControlName="interestRefunded" (focusout)="calculatePaymentDetails()"/>
            <label class="label_OA">Interest Refunded</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="form-group row">
        <div class="col-1 ">
          <div class="floating-label">
            <select class="floating-select" name="cableChargeCurrency" id="cableChargeCurrency"
                    formControlName="cableChargeCurrency">
              <option value="{{cableChargeCurrency.code}}"
                      *ngFor="let cableChargeCurrency of currencyList">{{cableChargeCurrency.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="col-2 ">
          <div class="floating-label">
            <input class="floating-input" autocomplete="off"
                   name="cableChargeAmount" formControlName="cableChargeAmount" placeholder=" "
                   currencyMask (focusout)="calculatePaymentDetails()">
            <label class="label_OA">Cable Charge Amount</label>
          </div>
        </div>
        <div class="col-1 ">
          <div class="floating-label">
            <select class="floating-select" name="communicationChargeCurrency" id="communicationChargeCurrency"
                    formControlName="communicationChargeCurrency">
              <option value="{{communicationChargeCurrency.code}}"
                      *ngFor="let communicationChargeCurrency of currencyList">{{communicationChargeCurrency.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="col-2 ">
          <div class="floating-label">
            <input class="floating-input" autocomplete="off"
                   name="communicationChargeAmount" formControlName="communicationChargeAmount" placeholder=" "
                   currencyMask (focusout)="calculatePaymentDetails()">
            <label class="label_OA">Communication Charge Amount</label>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label">
            <input class="floating-input" autocomplete="off"
                   name="paymentNotes" formControlName="paymentNotes" placeholder=" "
            >
            <label class="label_OA">Payment Notes</label>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label">
            <input class="floating-input" autocomplete="off"
                   name="refundInterestDetails" formControlName="refundInterestDetails" placeholder=" "
            >
            <label class="label_OA">Refund Interest Details</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="form-group row">
        <div class="col-3 ">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="debitAccount"
                     id="debitAccount"
                     formControlName="debitAccount"
                     [class.is-invalid]="isControlInvalid('debitAccount')"
                     [class.is-valid]="isControlValid('debitAccount')">
              <label class="label_OA_mandatory">Debit Account</label>
              <span class="input-group-text_OA" (click)="openDebitAccount()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="debitAccount"
                     id="creditAccount"
                     formControlName="creditAccount"
                     [class.is-invalid]="isControlInvalid('creditAccount')"
                     [class.is-valid]="isControlValid('creditAccount')">
              <label class="label_OA_mandatory">Credit Account</label>
              <span class="input-group-text_OA" (click)="openCreditAccount()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
