<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Exchange Rate Dashboard</h3>
    </div>
    <div class="d-flex align-items-center py-1">
      <div class="me-4">
        <a
          class="btn btn-sm btn-flex btn-light-warning btn-active-light fw-bolder cursor-pointer"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end" (click)="openFilter()"
        >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen031.svg'"
          class="svg-icon svg-icon-5 svg-icon-gray-500 me-1"
        ></span>
          Filter
        </a>
      </div>
      <a
        class="btn btn-sm btn-flex btn-light-success btn-active-light fw-bolder cursor-pointer"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_create_app"
        (click)="newExchangeRate()"
        style="margin-right: 16px"
      >
        Create Exchange Rate
      </a>

      <a
        class="btn btn-sm btn-flex btn-light-primary btn-active-primary fw-bolder cursor-pointer"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_create_app"
        (click)="uploadExchangeRate(cUploadInvoices)"
        style="margin-right: 16px"
      >
        Upload Exchange Rate
      </a>
    </div>
  </div>

  <div class="card-body py-3">
    <ngx-spinner></ngx-spinner>
    <div class="table-responsive">
      <mat-table [dataSource]="dataSource" matSort  (matSortChange)="sortChanges($event)" style="width: 100%;"
                 class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">

        <ng-container matColumnDef="invoiceNumber" class="min-w-150px">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">INV No
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.invoiceNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sbrReferenceId">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">SBR No
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.sbrReferenceId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="agreementId">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Agreement No
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="label label-lg label-inline">{{row.agreementId}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="currency">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">CCY</mat-header-cell>
          <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.currency}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Amount
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.amount }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Due Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.dueDate | date: 'MM/dd/YYY' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline"> Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="action-link">
            <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_ADMIN_MAKER')) && element.transactionStatus != 'MASTER'">
              <a (click)="openInvoiceDialog(element,'edit')" title="Edit Transaction"
                 class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </ng-container>
            <ng-container *ngIf="authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_USER_CHECKER')
          || authRoles.includes('BANK_USER_VIEWER')
          || authRoles.includes('BANK_ADMIN_MAKER')
          || authRoles.includes('BANK_ADMIN_CHECKER')
          || authRoles.includes('BANK_ADMIN_VIEWER')">
              <a ng-if="(this.authRoles.includes('SUPER_ADMIN')" title="View Transaction" (click)="openInvoiceDialog(element,'view')"
                 class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Code/Compiling.svg'"
                      class="svg-icon svg-icon-md svg-icon-success"></span>
              </a>
            </ng-container>
            <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_USER_CHECKER')
          || authRoles.includes('BANK_USER_VIEWER')
          || authRoles.includes('BANK_ADMIN_MAKER')
          || authRoles.includes('BANK_ADMIN_CHECKER')
          || authRoles.includes('BANK_ADMIN_VIEWER' )) && element.transactionStatus === 'PENDING' ">
              <a
                title="Authorize Transaction" (click)="openInvoiceDialog(element,'auth')"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
                      class="svg-icon svg-icon-md svg-icon-warning"></span>
              </a>
            </ng-container>
            <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_ADMIN_VIEWER')
          || authRoles.includes('BANK_USER_VIEWER'))
          && element.transactionStatus === 'PENDING' ">
              <a title="Delete customer" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                 (click)="openInvoiceDialog(deleteContent, element)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                      fill="#2DB757" class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </ng-container>
            <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_ADMIN_VIEWER')
          || authRoles.includes('BANK_USER_VIEWER')) ">
              <a title="View History" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                 (click)="openInvoiceDialog(element,'viewHistory')">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Clipboard-list.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;">
        </mat-row>

      </mat-table>

      <!--      <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons></mat-paginator>-->
      <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>
<ng-template #deleteContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>
<!-- begin::Body -->

<ng-template #cUploadInvoices let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h2 class="modal-title">Uploaded Invoices</h2>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-8">
        <label class="btn btn-default p-0">
          <input type="file" (change)="selectFile($event)"/>
        </label>
      </div>

      <div class="col-4 text-right">
        <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
          Upload file
        </button>
      </div>
    </div>

    <div *ngIf="currentFile" class="progress my-3">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progress + '%' }"
      >
        {{ progress }}%
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <!--    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Submit</button> -->
  </div>
</ng-template>
<!-- begin::Body -->
