<div class="card-body">
  <div [formGroup]="form" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Anchor Customer Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_readonly" type="text" name="anchorCustomerContactName"
                   id="anchorCustomerContactName"
                   formControlName="anchorCustomerContactName"
                   >
            <label class="label_OA required">Customer Name</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_readonly" type="text" name="anchorCustomerAddressLine1"
                   id="anchorCustomerAddressLine1"
                   formControlName="anchorCustomerAddressLine1"
                   placeholder=" ">
            <label class="label_OA">Customer Address1</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_readonly" type="text" name="anchorCustomerAddressLine2"
                   id="anchorCustomerAddressLine2"
                   formControlName="anchorCustomerAddressLine2"
                   placeholder=" ">
            <label class="label_OA">Customer Address2</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_readonly" type="text" name="anchorCustomerAddressLine3"
                   id="anchorCustomerAddressLine3"
                   formControlName="anchorCustomerAddressLine3"
                   placeholder=" ">
            <label class="label_OA">Customer Address3</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="anchorCustomerPOBox"
                   id="anchorCustomerPOBox"
                   formControlName="anchorCustomerPOBox"
            >
            <label class="label_OA required">PoBox</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="anchorCustomerEmail"
                   id="anchorCustomerEmail"
                   formControlName="anchorCustomerEmail"
                   placeholder=" ">
            <label class="label_OA">Email</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="anchorCustomerFax"
                   id="anchorCustomerFax"
                   formControlName="anchorCustomerFax"
                   placeholder=" ">
            <label class="label_OA">Fax</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_readonly" type="text" name="anchorCustomerTelephone"
                   id="anchorCustomerTelephone"
                   formControlName="anchorCustomerTelephone"
                   placeholder=" ">
            <label class="label_OA">Phone No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Counter Customer Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyContactName"
                   id="counterPartyContactName"
                   formControlName="counterPartyContactName"
            >
            <label class="label_OA required">Customer Name</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyAddressLine1"
                   id="counterPartyAddressLine1"
                   formControlName="counterPartyAddressLine1"
            >
            <label class="label_OA required">Customer Address1</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyAddressLine2"
                   id="counterPartyAddressLine2"
                   formControlName="counterPartyAddressLine2"
            >
            <label class="label_OA required">Customer Address2</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyAddressLine3"
                   id="counterPartyAddressLine3"
                   formControlName="counterPartyAddressLine3"
            >
            <label class="label_OA required">Customer Address3</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyPOBox"
                   id="counterPartyPOBox"
                   formControlName="counterPartyPOBox"
            >
            <label class="label_OA required">PoBox</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyEmail"
                   id="counterPartyEmail"
                   formControlName="counterPartyEmail"
            >
            <label class="label_OA required">Email</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyFax"
                   id="counterPartyFax"
                   formControlName="counterPartyFax"
            >
            <label class="label_OA required">Fax</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="counterPartyTelephone"
                   id="counterPartyTelephone"
                   formControlName="counterPartyTelephone"
            >
            <label class="label_OA required">Tel</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Financial Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="managementFeeCurrency" id="managementFeeCurrency"
                    formControlName="managementFeeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input_mandatory" id="managementFeeAmount" name="managementFeeAmount"
                   [class.is-invalid]="isControlInvalid('managementFeeAmount')"
                   [class.is-valid]="isControlValid('managementFeeAmount')"
                   formControlName="managementFeeAmount"
                   currencyMask >
            <label class="label_OA">Management Fee</label>
          </div>
        </div>
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="administrativeFeeCurrency" id="administrativeFeeCurrency"
                    formControlName="administrativeFeeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" id="administrativeFeeAmount" name="administrativeFeeAmount"
                   [class.is-invalid]="isControlInvalid('administrativeFeeAmount')"
                   [class.is-valid]="isControlValid('administrativeFeeAmount')"
                   formControlName="administrativeFeeAmount"
                   currencyMask >
            <label class="label_OA">Administrative Fee</label>
          </div>
        </div>
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="earlyPaymentFeeCurrency" id="earlyPaymentFeeCurrency"
                    formControlName="earlyPaymentFeeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" id="earlyPaymentAmount" name="earlyPaymentAmount"
                   [class.is-invalid]="isControlInvalid('earlyPaymentAmount')"
                   [class.is-valid]="isControlValid('earlyPaymentAmount')"
                   formControlName="earlyPaymentAmount"
                   currencyMask >
            <label class="label_OA">Early Payment Fee</label>
          </div>
        </div>
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="invoiceServiceChargeCurrency" id="invoiceServiceChargeCurrency"
                    formControlName="invoiceServiceChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" id="invoiceServiceChargeAmount" name="invoiceServiceChargeAmount"
                   [class.is-invalid]="isControlInvalid('invoiceServiceChargeAmount')"
                   [class.is-valid]="isControlValid('invoiceServiceChargeAmount')"
                   formControlName="invoiceServiceChargeAmount"
                   currencyMask >
            <label class="label_OA">Inv Service Fee</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="financeServiceChargeCurrency" id="financeServiceChargeCurrency"
                    formControlName="financeServiceChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input_mandatory" id="financeServiceChargeAmount" name="financeServiceChargeAmount"
                   [class.is-invalid]="isControlInvalid('financeServiceChargeAmount')"
                   [class.is-valid]="isControlValid('financeServiceChargeAmount')"
                   formControlName="financeServiceChargeAmount"
                   currencyMask >
            <label class="label_OA">Finance Fee</label>
          </div>
        </div>
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="settlementServiceChargeCurrency" id="settlementServiceChargeCurrency"
                    formControlName="settlementServiceChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" id="settlementServiceChargeAmount" name="settlementServiceChargeAmount"
                   [class.is-invalid]="isControlInvalid('settlementServiceChargeAmount')"
                   [class.is-valid]="isControlValid('settlementServiceChargeAmount')"
                   formControlName="settlementServiceChargeAmount"
                   currencyMask >
            <label class="label_OA">Settlement Fee</label>
          </div>
        </div>
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="cableChargeCurrency" id="cableChargeCurrency"
                    formControlName="cableChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" id="cableChargeAmount" name="cableChargeAmount"
                   [class.is-invalid]="isControlInvalid('cableChargeAmount')"
                   [class.is-valid]="isControlValid('cableChargeAmount')"
                   formControlName="cableChargeAmount"
                   currencyMask >
            <label class="label_OA">Cable Charge Fee</label>
          </div>
        </div>
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select" name="communicationChargeCurrency" id="communicationChargeCurrency"
                    formControlName="communicationChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" id="communicationChargeAmount" name="communicationChargeAmount"
                   [class.is-invalid]="isControlInvalid('communicationChargeAmount')"
                   [class.is-valid]="isControlValid('communicationChargeAmount')"
                   formControlName="communicationChargeAmount"
                   currencyMask >
            <label class="label_OA">Communication Fee</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
