<div class="pb-5 pb-lg-8">
  <h4 class="fw-bolder text-dark">Anchor Customer Info</h4>
</div>
<div [formGroup]="form">
  <div class="form-group row">
    <div class="col-lg-3">
      <label>Customer Name</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Anchor Customer Contact Name" name="anchorCustomerContactName" [class.is-invalid]="isControlInvalid('anchorCustomerContactName')"
             [class.is-valid]="isControlValid('anchorCustomerContactName')" formControlName="anchorCustomerContactName"/>
    </div>
    <div class="col-lg-3">
      <label>Customer Address1</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Anchor Customer Address1" name="anchorCustomerAddressLine1" [class.is-invalid]="isControlInvalid('anchorCustomerAddressLine1')"
             [class.is-valid]="isControlValid('anchorCustomerAddressLine1')" formControlName="anchorCustomerAddressLine1"/>
    </div>
    <div class="col-lg-3">
      <label>Customer Address2</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Anchor Customer Address2" name="anchorCustomerAddressLine2" [class.is-invalid]="isControlInvalid('anchorCustomerAddressLine1')"
             [class.is-valid]="isControlValid('anchorCustomerAddressLine2')" formControlName="anchorCustomerAddressLine2"/>
    </div>
    <div class="col-lg-3">
      <label>Customer Address3</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Anchor Customer Address3" name="anchorCustomerAddressLine3" [class.is-invalid]="isControlInvalid('anchorCustomerAddressLine3')"
             [class.is-valid]="isControlValid('anchorCustomerAddressLine3')" formControlName="anchorCustomerAddressLine3"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3">
      <label>PO Box No</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Anchor Customer PO Box" name="Anchor Customer PO Box" [class.is-invalid]="isControlInvalid('anchorCustomerPOBox')"
             [class.is-valid]="isControlValid('anchorCustomerPOBox')" formControlName="anchorCustomerPOBox"/>
    </div>
    <div class="col-lg-3">
      <label>Email Address</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Email Address" name="anchorCustomerEmail" [class.is-invalid]="isControlInvalid('anchorCustomerEmail')"
             [class.is-valid]="isControlValid('anchorCustomerEmail')" formControlName="anchorCustomerEmail"/>
    </div>
    <div class="col-lg-3">
      <label>Fax</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Anchor Customer Fax" name="anchorCustomerFax" [class.is-invalid]="isControlInvalid('anchorCustomerFax')"
             [class.is-valid]="isControlValid('anchorCustomerFax')" formControlName="anchorCustomerFax"/>
    </div>
    <div class="col-lg-3">
      <label>Telephone</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Anchor Customer Telephone" name="anchorCustomerTelephone" [class.is-invalid]="isControlInvalid('anchorCustomerTelephone')"
             [class.is-valid]="isControlValid('anchorCustomerTelephone')" formControlName="anchorCustomerTelephone"/>
    </div>

  </div>
  <div class="pb-5 pb-lg-8">
    <h4 class="fw-bolder text-dark">Counter Party Info</h4>
  </div>
  <div class="form-group row">
    <div class="col-lg-3">
      <label>Customer Name</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Counter Party Contact Name" name="counterPartyContactName" [class.is-invalid]="isControlInvalid('counterPartyContactName')"
             [class.is-valid]="isControlValid('counterPartyContactName')" formControlName="counterPartyContactName"/>
    </div>
    <div class="col-lg-3">
      <label>Customer Address1</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Counter Party Address1" name="counterPartyAddressLine1" [class.is-invalid]="isControlInvalid('counterPartyAddressLine1')"
             [class.is-valid]="isControlValid('counterPartyAddressLine1')" formControlName="counterPartyAddressLine1"/>
    </div>
    <div class="col-lg-3">
      <label>Customer Address2</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Counter Party Address2" name="counterPartyAddressLine2" [class.is-invalid]="isControlInvalid('counterPartyAddressLine2')"
             [class.is-valid]="isControlValid('counterPartyAddressLine2')" formControlName="counterPartyAddressLine2"/>
    </div>
    <div class="col-lg-3">
      <label>Customer Address3</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Counter Party Address3" name="counterPartyAddressLine3" [class.is-invalid]="isControlInvalid('counterPartyAddressLine3')"
             [class.is-valid]="isControlValid('counterPartyAddressLine3')" formControlName="counterPartyAddressLine3"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3">
      <label>PO Box No</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Counter Party PO Box" name="counterPartyPOBox" [class.is-invalid]="isControlInvalid('counterPartyPOBox')"
             [class.is-valid]="isControlValid('counterPartyPOBox')" formControlName="counterPartyPOBox"/>
    </div>
    <div class="col-lg-3">
      <label>Email Address</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="Counter Party Email Address" name="counterPartyEmail" [class.is-invalid]="isControlInvalid('counterPartyEmail')"
             [class.is-valid]="isControlValid('counterPartyEmail')" formControlName="counterPartyEmail"/>
    </div>
    <div class="col-lg-3">
      <label>Fax</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder=" Counter Party Fax" name="counterPartyFax" [class.is-invalid]="isControlInvalid('counterPartyFax')"
             [class.is-valid]="isControlValid('counterPartyFax')" formControlName="counterPartyFax"/>
    </div>
    <div class="col-lg-3">
      <label>Telephone</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder=" Counter Party Telephone" name="counterPartyTelephone" [class.is-invalid]="isControlInvalid('counterPartyTelephone')"
             [class.is-valid]="isControlValid('counterPartyTelephone')" formControlName="counterPartyTelephone"/>
    </div>

  </div>
  <div class="pb-5 pb-lg-8">
    <h4 class="fw-bolder text-dark">Financial Info</h4>
  </div>
  <div class="form-group row">
      <div class="col-lg-3">
        <label>Management Fee Currency & Amount</label>
        <div class="row fv-row">
          <div class="col-4">
            <select
              class="form-control form-control-lg form-control-solid"
              name="managementFeeCurrency"
              formControlName="managementFeeCurrency" [class.is-invalid]="isControlInvalid('managementFeeCurrency')"
              [class.is-valid]="isControlValid('managementFeeCurrency')">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
          </div>
          <div class="col-8">
            <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                   placeholder="managementFeeAmount" name="managementFeeAmount" [class.is-invalid]="isControlInvalid('managementFeeAmount')"
                   [class.is-valid]="isControlValid('managementFeeAmount')" formControlName="managementFeeAmount"/>
          </div>
        </div>
      </div>
    <div class="col-lg-3">
      <label>Administrative Fee Currency & Amount</label>
      <div class="row fv-row">
        <div class="col-4">
          <select
            class="form-control form-control-lg form-control-solid"
            name="administrativeFeeCurrency"
            formControlName="administrativeFeeCurrency" [class.is-invalid]="isControlInvalid('administrativeFeeCurrency')"
            [class.is-valid]="isControlValid('administrativeFeeCurrency')">
            <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
          </select>
        </div>
        <div class="col-8">
          <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                 placeholder="administrativeFeeAmount" name="administrativeFeeAmount" [class.is-invalid]="isControlInvalid('administrativeFeeAmount')"
                 [class.is-valid]="isControlValid('managementFeeAmount')" formControlName="administrativeFeeAmount"/>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <label>Early Payment Currency & Amount</label>
      <div class="row fv-row">
        <div class="col-4">
          <select
            class="form-control form-control-lg form-control-solid"
            name="earlyPaymentFeeCurrency"
            formControlName="earlyPaymentFeeCurrency" [class.is-invalid]="isControlInvalid('earlyPaymentFeeCurrency')"
            [class.is-valid]="isControlValid('earlyPaymentFeeCurrency')">
            <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
          </select>
        </div>
        <div class="col-8">
          <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                 placeholder="earlyPaymentAmount" name="earlyPaymentAmount" [class.is-invalid]="isControlInvalid('earlyPaymentAmount')"
                 [class.is-valid]="isControlValid('managementFeeAmount')" formControlName="earlyPaymentAmount"/>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <label>Invoice Service Charge Amount & CCY</label>
      <div class="row fv-row">
        <div class="col-4">
          <select
            class="form-control form-control-lg form-control-solid"
            name="invoiceServiceChargeCurrency"
            formControlName="invoiceServiceChargeCurrency" [class.is-invalid]="isControlInvalid('invoiceServiceChargeCurrency')"
            [class.is-valid]="isControlValid('invoiceServiceChargeCurrency')">
            <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
          </select>
        </div>
        <div class="col-8">
          <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                 placeholder="invoiceServiceChargeAmount" name="invoiceServiceChargeAmount" [class.is-invalid]="isControlInvalid('invoiceServiceChargeAmount')"
                 [class.is-valid]="isControlValid('managementFeeAmount')" formControlName="invoiceServiceChargeAmount"/>
        </div>
      </div>
    </div>
  </div>


