<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Corporates Dashboard</h3>
    </div>
    <div class="card-toolbar">
      <ng-container *ngIf="authRoles === 'SUPER_ADMIN' || authRoles === 'BANK_USER_MAKER'">
        <a class="btn btn-sm btn-flex btn-light-success btn-active-primary fw-bolder cursor-pointer"
           data-bs-toggle="modal"
           data-bs-target="#kt_modal_create_app"
           (click)="newCorporates()"
           style="margin-right: 16px"
        > <span
          [inlineSVG]="'./assets/media/svg/icons/Communication/Add-user.svg'"
          class="svg-icon svg-icon-5 svg-icon-gray-500 me-1"
        ></span>
          Create Corporates
        </a>
      </ng-container>
      <a
        class="
          btn btn-sm btn-flex btn-light-warning btn-active-primary fw-bolder cursor-pointer"
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
        data-kt-menu-flip="top-end" (click)="openFilter()"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen031.svg'"
          class="svg-icon svg-icon-5 svg-icon-gray-500 me-1"
        ></span>
        Filter
      </a>
    </div>
  </div>

  <ngx-spinner></ngx-spinner>
  <div class="table-responsive">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChanges($event)" style="width: 100%;"
               class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">

      <ng-container matColumnDef="customerId" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Customer Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.customerId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Email Address
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="label label-lg label-inline">{{row.emailAddress}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expiryDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Expiry Date
        </mat-header-cell>
        <mat-cell *matCellDef="let row"
                  class="label label-lg label-inline"> {{row.expiryDate |  date: 'yyyy-MM-dd'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Status
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="label label-lg label-inline">{{row.status}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transactionStatus">
        <mat-header-cell *matHeaderCellDef="let row">Transaction Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="btn btn-lg badge badge-square" style="width:100px"
                [class.badge-light-success]="row.transactionStatus === 'MASTER'"
                [class.badge-light-warning]="row.transactionStatus === 'PENDING'"
          >
            <span class="font-bold font-primary">
               <ng-container *ngIf=" row.transactionStatus === 'MASTER' ">Master</ng-container>
               <ng-container *ngIf=" row.transactionStatus === 'PENDING' ">Pending</ng-container>
            </span>
          </span>
        </mat-cell>

      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline"> Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="action-link">
          <ng-container *ngIf="authRoles === 'SUPER_ADMIN'
          || authRoles === 'BANK_USER_MAKER'
          || authRoles === 'BANK_ADMIN_MAKER'">
            <a (click)="openBankUserDialog(element,'edit')"
               class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
            </a>
          </ng-container>
          <ng-container *ngIf="authRoles === 'SUPER_ADMIN'
          || authRoles === 'BANK_USER_MAKER'
          || authRoles === 'BANK_USER_CHECKER'
          || authRoles === 'BANK_USER_VIEWER'
          || authRoles === 'BANK_ADMIN_MAKER'
          || authRoles === 'BANK_ADMIN_CHECKER'
          || authRoles === 'BANK_ADMIN_VIEWER'">
            <a ng-if="(this.authRoles === 'SUPER_ADMIN')" title="view" (click)="openBankUserDialog(element,'view')"
               class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Code/Compiling.svg'"
                      class="svg-icon svg-icon-md svg-icon-success"></span>
            </a>
          </ng-container>
          <ng-container *ngIf="(authRoles === 'SUPER_ADMIN'
          || authRoles === 'BANK_USER_MAKER'
          || authRoles === 'BANK_USER_CHECKER'
          || authRoles === 'BANK_USER_VIEWER'
          || authRoles === 'BANK_ADMIN_MAKER'
          || authRoles === 'BANK_ADMIN_CHECKER'
          || authRoles === 'BANK_ADMIN_VIEWER' ) && element.transactionStatus === 'PENDING' ">
            <a
              title="Authorize" (click)="openBankUserDialog(element,'auth')"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
                      class="svg-icon svg-icon-md svg-icon-warning"></span>
            </a>
          </ng-container>
          <ng-container *ngIf="(authRoles === 'SUPER_ADMIN'
          || authRoles === 'BANK_ADMIN_VIEWER'
          || authRoles === 'BANK_USER_VIEWER')
          && element.transactionStatus === 'PENDING' ">
            <a title="Delete customer" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
               (click)="openBankUserDelete(deleteContent, element)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                      fill="#2DB757" class="svg-icon svg-icon-md svg-icon-danger">
                </span>
            </a>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
    <!-- end::Table -->
  </div>
</div>
<!-- end::Table container -->
<ng-template #deleteContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>
<!-- begin::Body -->
