<div class="card-body">
  <div [formGroup]="financingForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Finance Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-1 ">
          <div class="floating-label">
            <select class="floating-select_mandatory" name="financeCurrency" id="financeCurrency"
                    formControlName="financeCurrency">
              <option value="{{financeCurrency.code}}"
                      *ngFor="let financeCurrency of currencyList">{{financeCurrency.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="col-2 ">
          <div class="floating-label">
            <input class="floating-input_mandatory" autocomplete="off"
                   name="financeAmount" formControlName="financeAmount" placeholder=" "
                   currencyMask>
            <label class="label_OA">Finance Amount</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="number" class="floating-input_readonly" autocomplete="off"
                   name="maxFinancePercentage"
                   formControlName="maxFinancePercentage"
                   readonly/>
            <label class="label_OA">Max Finance Percentage</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input_readonly" autocomplete="off"
                   name="interestChargeType"
                   formControlName="interestChargeType"
                   readonly/>
            <label class="label_OA">Interest Charge Type</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <select
              class="floating-select"
              name="interestRateType" [class.is-invalid]="isControlInvalid('interestRateType')"
              [class.is-valid]="isControlValid('interestRateType')"
              formControlName="interestRateType"
              (change)="calculateFinanceDetails()"
            >
              <option value="FIXEDRATE">Fixed Rate</option>
              <option value="SIBOR">Sibor</option>
              <option value="LIBOR">Libor</option>
            </select>
            <label class="label_OA">Interest Rate Type</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group row">
        <div class="col-3 ">
          <div class="floating-label">
            <input class="floating-input_readonly" autocomplete="off"
                   name="interestRate" formControlName="interestRate" placeholder=" "
                   readonly>
            <label class="label_OA">Interest Rate</label>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label">
            <input class="floating-input_readonly" autocomplete="off"
                   name="interestMargin" formControlName="interestMargin" placeholder=" "
                   readonly>
            <label class="label_OA">Interest Margin</label>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label">
            <input type="date" class="floating-input_mandatory" autocomplete="off"
                   name="valueDate" formControlName="valueDate"
                   readonly>
            <label class="label_OA">Value Date</label>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label">
            <input type="number" class="floating-input" autocomplete="off"
                   name="graceDays" formControlName="graceDays"
                   readonly>
            <label class="label_OA">Grace Day</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group row">
        <div class="col-3 ">
          <div class="floating-label">
            <input type="number" class="floating-input_mandatory" autocomplete="off"
                   name="financingInterestRate" formControlName="financingInterestRate"
                   (focusout)="calculateFinanceDetails()">
            <label class="label_OA required">Financing Interest Rate</label>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label">
            <input type="number" class="floating-input_mandatory" autocomplete="off"
                   name="upfrontInterestAmount" formControlName="upfrontInterestAmount"
                   (focusout)="calculateFinanceDetails()" currencyMask>
            <label class="label_OA required">UpFront Interest Amount</label>
          </div>
        </div>
        <div class="col-1">
          <div class="floating-label">
            <select class="floating-select_mandatory" name="totalAvailableCurrency" id="totalAvailableCurrency"
                    formControlName="totalAvailableCurrency">
              <option value="{{currencyl.code}}"
                      *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="col-2">
          <div class="floating-label">
            <input type="number" class="floating-input_readonly" autocomplete="off"
                   name="totalAvailableAmount" formControlName="totalAvailableAmount"
                   (focusout)="calculateFinanceDetails()" currencyMask readonly>
            <label class="label_OA">UpFront Interest Amount</label>
          </div>
        </div>
        <div class="col-1">
          <div class="floating-label">
            <select
              class="floating-select_readonly"
              name="toSellerCurrency"
              formControlName="toSellerCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="col-2">
          <div class="floating-label">
            <input type="number" class="floating-input_readonly" autocomplete="off"
                   name="toSellerAmount" formControlName="toSellerAmount"
                   (focusout)="calculateFinanceDetails()" currencyMask readonly>
            <label class="label_OA">To Seller Amount</label>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="form-group row">
        <div class="col-3 ">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="debitAccount"
                     id="debitAccount"
                     formControlName="debitAccount"
                     [class.is-invalid]="isControlInvalid('debitAccount')"
                     [class.is-valid]="isControlValid('debitAccount')">
              <label class="label_OA_mandatory">Debit Account</label>
              <span class="input-group-text_OA" (click)="openDebitAccount()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="debitAccount"
                     id="creditAccount"
                     formControlName="creditAccount"
                     [class.is-invalid]="isControlInvalid('creditAccount')"
                     [class.is-valid]="isControlValid('creditAccount')">
              <label class="label_OA_mandatory">Credit Account</label>
              <span class="input-group-text_OA" (click)="openCreditAccount()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
