<div class="card-body">
  <div [formGroup]="form" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Limit Details</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="limitReference" id="limitReference"
                   formControlName="limitReference" >
            <label class="label_OA required">Limit Reference No</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="date" autocomplete="off"
                   name="limitExpiry" [class.is-invalid]="isControlInvalid('limitExpiry')"
                   [class.is-valid]="isControlValid('limitExpiry')" formControlName="limitExpiry" >
            <label class="label_OA">Limit Expiry Date</label>
          </div>
        </div>
        <div class="ccol1_OA">
          <div class="floating-label">
            <select class="floating-select_mandatory" name="limitCurrency" id="limitCurrency"
                    formControlName="limitCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="text" id="limitAmount" name="limitAmount"
                   [class.is-invalid]="isControlInvalid('limitAmount')"
                   [class.is-valid]="isControlValid('limitAmount')" formControlName="limitAmount" placeholder="limitAmount"
                   currencyMask >
            <label class="label_OA">Limit Amount</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="text" autocomplete="off"
                   name="cashMargin" [class.is-invalid]="isControlInvalid('cashMargin')"
                   [class.is-valid]="isControlValid('cashMargin')" formControlName="cashMargin"
                   >
            <label class="label_OA">Cash Margin</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container  mt-5">
      <div class="form-group row">
<!--        <div class="col-3">-->
<!--          <div class="floating-label_readonly">-->
<!--          <select class="floating-select" name="anchorPartyApprovalRequired" formControlName="anchorPartyApprovalRequired">-->
<!--            <option value="true">True</option>-->
<!--            <option value="false">False</option>-->
<!--          </select>-->
<!--            <label class="label_OA required">Anchor Party <b>Approval Required</b></label>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input form-check-input" type="checkbox" id="anchorPartyApprovalRequired"
                   name="anchorPartyApprovalRequired" formControlName="anchorPartyApprovalRequired" [disabled]="ReadOnlyCheckBox">
            <label class="label_OA_mandatory required">Anchor Party Approval</label>
          </div>
        </div>

        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input form-check-input" type="checkbox" id="counterPartyApprovalRequired"
                   name="counterPartyApprovalRequired" formControlName="counterPartyApprovalRequired" [disabled]="ReadOnlyCheckBox">
            <label class="label_OA_mandatory required">Counter Party Approval</label>
          </div>
        </div>


<!--        <div class="col-3">-->
<!--          <div class="floating-label_readonly">-->
<!--          <select class="floating-select" name="counterPartyApprovalRequired" formControlName="counterPartyApprovalRequired">-->
<!--            <option value="true">True</option>-->
<!--            <option value="false">False</option>-->
<!--          </select>-->
<!--            <label class="label_OA required">Counter Party <b>Approval Required</b></label>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input_mandatory form-check-input" type="checkbox" id="autoFinance"
                   name="autoFinance" formControlName="autoFinance" [disabled]="ReadOnlyCheckBox">
            <label class="label_OA_mandatory">Auto Finance</label>
          </div>
        </div>


<!--        <div class="col-3">-->
<!--          <div class="floating-label_readonly">-->
<!--          <select class="floating-select" name="autoFinance" formControlName="autoFinance">-->
<!--            <option value="true">True</option>-->
<!--            <option value="false">False</option>-->
<!--          </select>-->
<!--            <label class="label_OA required">Auto Finance</label>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input_mandatory form-check-input" type="checkbox" id="autoSettlement"
                   name="autoSettlement" formControlName="autoSettlement" [disabled]="ReadOnlyCheckBox">
            <label class="label_OA_mandatory">Auto Settlement</label>
          </div>
        </div>


<!--        <div class="col-3">-->
<!--          <div class="floating-label_readonly">-->
<!--          <select class="floating-select" name="autoSettlement" formControlName="autoSettlement">-->
<!--            <option value="true">True</option>-->
<!--            <option value="false">False</option>-->
<!--          </select>-->
<!--            <label class="label_OA required">Auto Settlement</label>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div class="container  mt-5">
      <div class="form-group row">
        <div class="ccol1_OA ">
          <div class="floating-label">
            <select class="floating-select" name="cableChargeCurrency" id="cableChargeCurrency"
                    formControlName="cableChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" type="text" id="cableChargeAmount" name="cableChargeAmount"
                   formControlName="cableChargeAmount" placeholder="cableChargeAmount"
                   currencyMask >
            <label class="label_OA">Cable Amount</label>
          </div>
        </div>
        <div class="ccol1_OA ">
          <div class="floating-label">
            <select class="floating-select_mandatory" name="communicationChargeCurrency" id="communicationChargeCurrency"
                    formControlName="communicationChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="text" id="communicationChargeAmount" name="communicationChargeAmount"
                   formControlName="communicationChargeAmount" placeholder="communicationChargeAmount"
                   currencyMask >
            <label class="label_OA">Communication Amount</label>
          </div>
        </div>
        <div class="ccol1_OA ">
          <div class="floating-label">
            <select class="floating-select" name="financeServiceChargeCurrency" id="financeServiceChargeCurrency"
                    formControlName="financeServiceChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" type="text" id="financeServiceChargeAmount" name="financeServiceChargeAmount"
                   formControlName="financeServiceChargeAmount" placeholder="financeServiceChargeAmount"
                   currencyMask >
            <label class="label_OA">Finance Amount</label>
          </div>
        </div>
        <div class="ccol1_OA ">
          <div class="floating-label">
            <select class="floating-select" name="settlementServiceChargeCurrency" id="settlementServiceChargeCurrency"
                    formControlName="settlementServiceChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" type="text" id="settlementServiceChargeAmount" name="settlementServiceChargeAmount"
                   formControlName="settlementServiceChargeAmount" placeholder="settlementServiceChargeAmount"
                   currencyMask >
            <label class="label_OA">Settlement Service Charge</label>
          </div>
        </div>
      </div>
    </div>
        <div class="container  mt-5">
      <div class="form-group row">
        <div class="ccol1_OA ">
          <div class="floating-label">
            <select class="floating-select" name="invoiceServiceChargeCurrency" id="invoiceServiceChargeCurrency"
                    formControlName="invoiceServiceChargeCurrency">
              <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
        <div class="acol1_OA ">
          <div class="floating-label">
            <input class="floating-input" type="text" id="invoiceServiceChargeAmount"
                   name="invoiceServiceChargeAmount"
                   formControlName="invoiceServiceChargeAmount" placeholder="invoiceServiceChargeAmount"
                   currencyMask >
            <label class="label_OA">Invoice Service Charge</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" autocomplete="off"
                   name="limitAllocatedAmount" [class.is-invalid]="isControlInvalid('limitAllocatedAmount')"
                   [class.is-valid]="isControlValid('limitAllocatedAmount')"
                   formControlName="limitAllocatedAmount" >
            <label class="label_OA">Limit Allocated Amount</label>
          </div>
        </div>
         <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="text" autocomplete="off"
                   name="limitUnallocatedAmount" [class.is-invalid]="isControlInvalid('limitUnallocatedAmount')"
                   [class.is-valid]="isControlValid('limitUnallocatedAmount')"
                   formControlName="limitUnallocatedAmount" >
            <label class="label_OA required">Limit UnAllocated Amount</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
