<div class="pb-15 pb-lg-8">
  <h3 class="fw-bolder text-dark">Limit Details</h3>
</div>
<div [formGroup]="form">
  <div class="form-group row">
    <div class="col-lg-3">
      <label>limit Reference</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="limitReference" name="limitReference" [class.is-invalid]="isControlInvalid('limitReference')"
             [class.is-valid]="isControlValid('limitReference')" formControlName="limitReference"/>
      <div class="feedback" *ngIf="!isControlTouched('limitReference')">
        Please enter <b> limit Reference</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('limitReference')">
        limit Reference was entered correct
      </div>
    </div>
    <div class="col-lg-3">
      <label>Limit Expiry Date</label>
      <input type="date" class="form-control form-control-lg form-control-solid" autocomplete="off"
             placeholder="limitExpiry" name="limitExpiry" [class.is-invalid]="isControlInvalid('limitExpiry')"
             [class.is-valid]="isControlValid('limitExpiry')" formControlName="limitExpiry"/>
      <div class="feedback" *ngIf="!isControlTouched('limitExpiry')">
        Please enter <b>Limit Expiry Date</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('limitExpiry')">
        Limit Expiry Date was entered correct
      </div>
    </div>
    <div class="col-lg-3">
      <label>Currency & Amount</label>
      <div class="row fv-row">
        <div class="col-4">
          <select
            class="form-control form-control-lg form-control-solid"
            name="limitCurrency"
            formControlName="limitCurrency">
            <option value="{{currencyl.code}}" *ngFor="let currencyl of currencyList">{{currencyl.code}}</option>
          </select>
          <div class="feedback">Please select <b>Currency</b></div>
        </div>
        <div class="col-8">
          <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                 placeholder="limitAmount" name="limitAmount" [class.is-invalid]="isControlInvalid('limitAmount')"
                 [class.is-valid]="isControlValid('limitAmount')" formControlName="limitAmount"/>
          <div class="feedback" *ngIf="!isControlTouched('limitAmount')">
            Please enter <b>Limit Amount</b>
          </div>
          <div class="valid-feedback" *ngIf="isControlValid('limitAmount')">
          Limit  Amount was entered correct
          </div>
        </div>
      </div>
    </div>
</div>
  </div>



