<div class="card-body">
  <div [formGroup]="CurrencyForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Currency Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-4">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="isoCode" id="isoCode"
                   formControlName="isoCode">
            <label class="label_OA required">ISO Code</label>
          </div>
        </div>
        <div class="col-4">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input" autocomplete="off"
                   name="description"
                   [class.is-invalid]="isControlInvalid('description')"
                   [class.is-valid]="isControlValid('description')"
                   formControlName="description"/>
            <label class="label_OA_mandatory">Description</label>
          </div>
        </div>
        <div class="col-4">
          <div class="floating-label_mandatory">
            <select class="floating-select" name="country" id="country"
                    formControlName="country">
              <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
            </select>
            <label class="label_OA">Country</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-4">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="minorName" id="minorName"
                   formControlName="minorName">
            <label class="label_OA required">Minor Name</label>
          </div>
        </div>
        <div class="col-4">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input" autocomplete="off"
                   name="majorName"
                   [class.is-invalid]="isControlInvalid('majorName')"
                   [class.is-valid]="isControlValid('majorName')"
                   formControlName="majorName"/>
            <label class="label_OA_mandatory">Major Name</label>
          </div>
        </div>
        <div class="col-4">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input" autocomplete="off"
                   name="decimal"
                   [class.is-invalid]="isControlInvalid('decimal')"
                   [class.is-valid]="isControlValid('decimal')"
                   formControlName="decimal"/>
            <label class="label_OA_mandatory">Decimal</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-4">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="baseDays" id="baseDays"
                   formControlName="baseDays">
            <label class="label_OA required">Base Days</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
