<div class="card-body">
  <div [formGroup]="form" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Agreement Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="contractReferenceNumber" id="contractReferenceNumber"
                   formControlName="contractReferenceNumber" placeholder=" " readonly>
            <label class="label_OA required">Contract Reference No</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="contractDocumentNumber" id="contractDocumentNumber"
                   formControlName="contractDocumentNumber"
                   placeholder=" ">
            <label class="label_OA">Contract Document Number</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="anchorCustomerId"
                     id="anchorCustomerId"
                     formControlName="anchorCustomerId" placeholder=""
                     [class.is-invalid]="isControlInvalid('anchorCustomerId')"
                     [class.is-valid]="isControlValid('anchorCustomerId')">
              <label class="label_OA_mandatory">Anchor Customer Id</label>
              <span class="input-group-text_OA" (click)="openCustomerDialog()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="rmId"
                     id="rmId"
                     formControlName="rmId" placeholder=""
                     [class.is-invalid]="isControlInvalid('rmId')"
                     [class.is-valid]="isControlValid('rmId')">
              <label class="label_OA_mandatory">RM Id</label>
              <span class="input-group-text_OA" (click)="openRMDialog()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
          <select class="floating-select" name="businessTypeId" formControlName="businessTypeId"
            (change)="onBusinessTypeChange($event)">
            <option value="Receivable Finance">Receivable Finance</option>
            <option value="Payable Finance">Payable Finance</option>
          </select>
            <label class="label_OA required">Product Type</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" id="remarks" name="remarks"
                   [class.is-invalid]="isControlInvalid('remarks')"
                   [class.is-valid]="isControlValid('remarks')" formControlName="remarks" placeholder=" ">
            <label class="label_OA">Remarks</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="date" autocomplete="off"
                   name="validDate" [class.is-invalid]="isControlInvalid('validDate')"
                   [class.is-valid]="isControlValid('validDate')" formControlName="validDate" placeholder=" ">
            <label class="label_OA">Valid Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="date" autocomplete="off"
                   name="transactionDate" [class.is-invalid]="isControlInvalid('transactionDate')"
                   [class.is-valid]="isControlValid('transactionDate')" formControlName="transactionDate" placeholder=" ">
            <label class="label_OA">Transaction Date</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="date" autocomplete="off"
                   name="expiryDate" [class.is-invalid]="isControlInvalid('expiryDate')"
                   [class.is-valid]="isControlValid('expiryDate')" formControlName="expiryDate" placeholder=" ">
            <label class="label_OA">Expiry Date</label>
          </div>
        </div>
        <div class="col-3">
         <label class="label_OA required"></label>
          <div>
            <a class="btn btn-sm btn-primary fw-bolder" (click)="openCounterPrtyDialog()">Add Counter Party</a>
          </div>
        </div>

<!--        <div class="col-3">-->
<!--         <label class="label_OA required"></label>-->
<!--          <div>-->
<!--            <a class="btn btn-sm btn-primary fw-bolder" (click)="openAdvicePdf('open')">Advice pdf</a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
        <div class="container mt-5">
          <div class="form-group row">
        <ng-container>
          <table mat-table [dataSource]="dataSource" class="" cdkDropList
                 cdkDropListOrientation="horizontal"
                 (cdkDropListDropped)="drop($event)"
                 matSort
                 style="overflow-x: scroll; overflow-y: scroll"
          >
            <ng-container matColumnDef="customerId">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Customer Id </th>
              <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="emailAddress">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> EmailAddress </th>
              <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
            </ng-container>

            <ng-container matColumnDef="effectiveDate">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Effective Date </th>
              <td mat-cell *matCellDef="let element"> {{element.effectiveDate | date: 'MM/dd/YYY'}} </td>
            </ng-container>

            <ng-container matColumnDef="expiryDate">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Expiry Date </th>
              <td mat-cell *matCellDef="let element"> {{element.expiryDate | date: 'MM/dd/YYY'}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Status</th>
              <td mat-cell *matCellDef="let element"> {{element.status }} </td>
            </ng-container>

            <ng-container matColumnDef="transactionStatus">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Trx Status</th>
              <td mat-cell *matCellDef="let element"> {{element.transactionStatus }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let element">
                <a title="Delete" (click)="openCounterPrtyDelete(element)" class="btn btn-light-danger btn-active-color-primary">
                  <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
                (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
                (mouseout)="row.hovered = false"></tr>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
          </mat-paginator>
        </ng-container>
      </div>
    </div>
  </div>
</div>
