<div class="pb-15 pb-lg-8">
  <h3 class="fw-bolder text-dark">Agreement Details</h3>
</div>
<div [formGroup]="form">
  <div class="form-group row">
    <div class="col-lg-3">
      <label>Contract Reference</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
        placeholder="contractReferenceNumber" name="contractReferenceNumber"
        [class.is-invalid]="isControlInvalid('contractReferenceNumber')"   
        [class.is-valid]="isControlValid('contractReferenceNumber')" formControlName="contractReferenceNumber" />
      <div class="feedback" *ngIf="!isControlTouched('contractReferenceNumber')">
        Please enter <b> Contract Reference</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('contractReferenceNumber')">
        Contract Reference was entered correct
      </div>
    </div>
    <div class="col-lg-3">
      <label>Contract Document Number</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
        placeholder="contractDocumentNumber" name="contractDocumentNumber"
        [class.is-invalid]="isControlInvalid('contractDocumentNumber')"
        [class.is-valid]="isControlValid('contractDocumentNumber')" formControlName="contractDocumentNumber" />
      <div class="feedback" *ngIf="!isControlTouched('contractDocumentNumber')">
        Please enter <b>Contract Document Number</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('contractDocumentNumber')">
        Contract Document Number was entered correct
      </div>
    </div>
    <div class="col-lg-3">
      <label>Anchor Customer Id</label>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button
            class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5 btn rounded-pill border-0 ml-n5"
            type="button"
            (click)="openCustomerDialog(CustomerTemplate)">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <input type="text" class="form-control form-control-solid" id="anchorCustomer" name="anchorCustomer"
               placeholder="Anchor Customer" formControlName="anchorCustomer"
               [class.is-invalid]="isControlInvalid('anchorCustomer')"
               [class.is-valid]="isControlValid('anchorCustomer')">
      </div>
    </div>
    <div class="col-lg-3">
      <label>RelationShip Manager</label>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button
            class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5 btn rounded-pill border-0 ml-n5"
            type="button"
            (click)="openRMDialog(RMContent)">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <input type="text" class="form-control form-control-solid" id="rm" name="rm"
               placeholder="Relation Ship Manager" formControlName="rm"
               [class.is-invalid]="isControlInvalid('rm')"
               [class.is-valid]="isControlValid('rm')">
      </div>
    </div>
  </div>
  <div class="form-group row">

    <div class="col-lg-3">
      <label>Product Type</label>
      <select class="form-control form-control-lg form-control-solid" name="businessType"
        formControlName="businessType">
        <option value="Supplier Finance">Supplier Finance</option>
      </select>
      <div class="feedback">Please select <b>Product Type</b></div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3">
      <label>Remarks</label>
      <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
        placeholder="remarks" name="remarks" [class.is-invalid]="isControlInvalid('remarks')"
        [class.is-valid]="isControlValid('remarks')" formControlName="remarks" />
      <div class="feedback" *ngIf="!isControlTouched('remarks')">
        Please enter <b> Remarks</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('remarks')">
        Remarks was entered correct
      </div>
    </div>
    <div class="col-lg-3">
      <label>Valid Date</label>
      <input type="date" class="form-control form-control-lg form-control-solid" autocomplete="off"
        placeholder="validDate" name="validDate" [class.is-invalid]="isControlInvalid('validDate')"
        [class.is-valid]="isControlValid('validDate')" formControlName="validDate" />
      <div class="feedback" *ngIf="!isControlTouched('validDate')">
        Please enter <b>Valid Date</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('validDate')">
        Valid Date was entered correct
      </div>
    </div>
    <div class="col-lg-3">
      <label>Transaction Date</label>
      <input type="date" class="form-control form-control-lg form-control-solid" autocomplete="off"
        placeholder="transactionDate" name="transactionDate" [class.is-invalid]="isControlInvalid('transactionDate')"
        [class.is-valid]="isControlValid('validDate')" formControlName="transactionDate" />
      <div class="feedback" *ngIf="!isControlTouched('transactionDate')">
        Please enter <b>Transaction Date</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('transactionDate')">
        Transaction Date was entered correct
      </div>
    </div>
    <div class="col-lg-3">
      <label>Expiry Date</label>
      <input type="date" class="form-control form-control-lg form-control-solid" autocomplete="off"
        placeholder="expiryDate" name="expiryDate" [class.is-invalid]="isControlInvalid('expiryDate')"
        [class.is-valid]="isControlValid('expiryDate')" formControlName="expiryDate" />
      <div class="feedback" *ngIf="!isControlTouched('expiryDate')">
        Please enter <b>Expiry Date</b>
      </div>
      <div class="valid-feedback" *ngIf="isControlValid('transactionDate')">
        Expiry Date was entered correct
      </div>
    </div>
  </div>
</div>
<ng-template #CustomerTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customer Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <!-- begin::Table -->
      <mat-table [dataSource]="dataSource" matSort style="width: 100%;"
                 class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-3">

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>

        <!-- ID Column -->
        <ng-container matColumnDef="customerId" class="min-w-150px">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Customer Id</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.customerId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name" class="min-w-150px">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Customer Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="addressLine1" class="min-w-150px">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Customer Address
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.addressLine1}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="custDisplayColumns"></mat-header-row>
        <mat-row (click)="c(row)" *matRowDef="let row; let index = dataIndex; columns: custDisplayColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
      </mat-paginator>
      <!-- end::Table -->
    </div>
  </div>
</ng-template>
<ng-template #RMContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">RM Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <!-- begin::Table -->
      <mat-table [dataSource]="rmdataSource" matSort style="width: 100%;"
                 class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-3">

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>

        <!-- ID Column -->
        <ng-container matColumnDef="RM Id" class="min-w-150px">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">RM Id</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.rmId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name" class="min-w-150px">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">RM Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstname}} </mat-cell>
        </ng-container>
r
        <mat-header-row *matHeaderRowDef="rmDisplayColumns"></mat-header-row>
        <mat-row (click)="c(row)" *matRowDef="let row; let index = dataIndex; columns: rmDisplayColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
      </mat-paginator>
      <!-- end::Table -->
    </div>
  </div>
</ng-template>

