<div class="card-body">
  <div [formGroup]="corporatesform" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Corporate Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="customerId" id="customerId"
                   formControlName="customerId" readonly>
            <label class="label_OA required">User Id</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input type="email" class="floating-input_mandatory" autocomplete="off"
                   name="emailAddress"
                   [class.is-invalid]="isControlInvalid('emailAddress')"
                   [class.is-valid]="isControlValid('emailAddress')"
                   formControlName="emailAddress"/>
            <label class="label_OA_mandatory required">Email Address</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="name"
                   formControlName="name"
                   [class.is-invalid]="isControlInvalid('name')"
                   [class.is-valid]="isControlValid('name')"
            />
            <label class="label_OA_mandatory required">Name</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="addressLine1"
                   formControlName="addressLine1"
            />
            <label class="label_OA"> Address Line 1 </label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="addressLine2"
                   formControlName="addressLine2"
            />
            <label class="label_OA"> Address Line 2 </label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="addressLine3"
                   formControlName="addressLine3"
            />
            <label class="label_OA"> Address Line 3 </label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="poBox"
                   formControlName="poBox"
            />
            <label class="label_OA"> PO Box </label>
          </div>
        </div>
        <div class="col-3 ">
          <div class="floating-label">
            <select class="floating-select" name="country" id="country"
                    formControlName="country">
              <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
            </select>
            <label class="label_OA">Currency</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="date" name="effectiveDate" id="effectiveDate"
                   formControlName="effectiveDate" name="effectiveDate"
                   [class.is-invalid]="isControlInvalid('effectiveDate')"
                   [class.is-valid]="isControlValid('effectiveDate')">
            <label class="label_OA required">Effective Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input class="floating-input_mandatory" type="date" name="expiryDate" id="expiryDate"
                   formControlName="expiryDate" name="expiryDate" [class.is-invalid]="isControlInvalid('expiryDate')"
                   [class.is-valid]="isControlValid('expiryDate')">
            <label class="label_OA required">Expiry Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input form-check-input" type="checkbox" id="status" name="status" value="yes"
                   checked [disabled]="statusCheck">
            <label class="label_OA_mandatory form-check-label required">Status</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input form-check-input" type="checkbox" id="bank" name="bank" value="yes"
                   checked [disabled]="bankCheck">
            <label class="label_OA_mandatory form-check-label required">Is Bank</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Business Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="vatRegistrationNumber"
                   formControlName="vatRegistrationNumber"
            />
            <label class="label_OA"> Vat Registration Number </label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="taxRegistrationNumber"
                   formControlName="taxRegistrationNumber"
            />
            <label class="label_OA"> Tax Registration Number </label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="directorName"
                   formControlName="directorName"
            />
            <label class="label_OA"> Director Name </label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="directorDetails"
                   formControlName="directorDetails"
            />
            <label class="label_OA"> Director Details </label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="sponsorName"
                   formControlName="sponsorName"
            />
            <label class="label_OA"> Sponsor Name </label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="sponsorDetails"
                   formControlName="sponsorDetails"
            />
            <label class="label_OA"> Sponsor Details </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
