  <div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Financing Dashboard</span>
  </h3>
  <!--  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"-->
  <!--       title="Click to add a Invoice">-->
  <!--    <a class="btn btn-sm btn-light-primary" (click)="newInvoices()">-->
  <!--      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>-->
  <!--      New Invoice-->
  <!--    </a>-->
  <!--  </div>-->
  <!--  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"-->
  <!--       title="Click to add a Invoice">-->
  <!--    <a class="btn btn-sm btn-light-primary" (click)="uploadInvoice(cUploadInvoices)">-->
  <!--      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>-->
  <!--      Upload Invoices-->
  <!--    </a>-->
  <!--  </div>-->
  <!-- begin::Actions  -->
  <div class="d-flex align-items-center py-1">
    <!-- begin::Wrapper  -->
    <div class="me-4">
      <!-- begin::Menu  -->
      <a
        class="
          btn btn-sm btn-flex btn-light btn-active-primary
          fw-bolder
          cursor-pointer
        "
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
        data-kt-menu-flip="top-end"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen031.svg'"
          class="svg-icon svg-icon-5 svg-icon-gray-500 me-1"
        ></span>
        Filter
      </a>

      <!-- end::Menu  -->
    </div>
    <!-- end::Wrapper  -->

    <!-- begin::Button  -->
    <a
      class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder cursor-pointer"
      data-bs-toggle="modal"
      data-bs-target="#kt_modal_create_app"
      (click)="newFinance()"
      style="margin-right: 16px"
    >
      Create Finance
    </a>
    <!-- end::Button  -->
  </div>
  <!-- end::Actions  -->
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <ng-container *ngIf="isLoading">
    <div class="overlay-layer">
      <div class="spinner spinner-lg spinner-primary"></div>
    </div>
  </ng-container>


  <div class="table-responsive">
    <ngx-spinner></ngx-spinner>'

    <!-- begin::Table -->
    <mat-table [dataSource]="dataSource" matSort style="width: 100%;"
               class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">

      <!-- ID Column -->
      <ng-container matColumnDef="financeId" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Finance Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.financeId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sbrReferenceId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">SBR No</mat-header-cell>
        <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.sbrReferenceId}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="agreementId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Agreement No
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="label label-lg label-inline">{{row.agreementId}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="financeCurrency">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Currency</mat-header-cell>
        <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.financeCurrency}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="financeAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Amount</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.financeAmount | number:'1.0-3' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="financeDueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Due Date
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.financeDueDate | date: 'MM/dd/YYY' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="businessType">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Business Type
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.businessType  }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" class="d-flex justify-content-end flex-shrink-0">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline"> Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
        <span>
          <a title="modify" (click)="openFinanceDialog(element,'edit')"
             *ngIf="element.transactionStatus !== 'MASTER'"
             class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                ></span>
              </a>
        </span>
          <span>
          <a title="view" (click)="openFinanceDialog(element,'view')"
             class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
                      class="svg-icon svg-icon-3"></span>
              </a>
        </span>
          <span>
          <a title="Authorize" (click)="openFinanceDialog(element,'auth')"
             class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'" class="svg-icon svg-icon-2"></span>
              </a>
        </span>
          <span>
            <a title="Delete" (click)="openInvoiceDelete(deleteContent, element)"
               *ngIf="element.transactionStatus !== 'MASTER'"
               class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                      class="svg-icon svg-icon-3"></span>
              </a>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;"
               [style.background-color]="row.transactionStatus === 'PENDING' ? '#ceebfc' : 'white'">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<ng-template #deleteContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>
<!-- begin::Body -->


