n <div class="card">
  <div class="toolBar card-header">
    <div class="toolBarTitle card-title">
      Finance Dashboard
    </div>
  </div>
  <div class="card">
    <div class="d-flex align-items-sm-start py-1">
      <div class="card-header" style="vertical-align: middle;">
        <div class="me-4">
          <a
            class="btn btn-sm btn-flex btn-light-warning btn-active-light fw-bolder cursor-pointer"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end" (click)="openFilter()"
          >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen031.svg'"
          class="svg-icon svg-icon-5 svg-icon-gray-500 me-1"
        ></span>
            Filter
          </a>
          <a
            class="btn btn-sm btn-flex btn-light-success btn-active-light fw-bolder cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#kt_modal_create_app"
            (click)="newFinance()"
          >
            Create Finance
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div>
        <table mat-table [dataSource]="dataSource" class="" cdkDropList
               cdkDropListOrientation="horizontal"
               (cdkDropListDropped)="drop($event)"
               matSort (matSortChange)="sortChanges($event)"
               style="overflow-x: scroll; overflow-y: scroll"
        >

          <!--        &lt;!&ndash; Checkbox Column &ndash;&gt;-->
          <!--        <ng-container matColumnDef="select">-->
          <!--          <th mat-header-cell *matHeaderCellDef   mat-sort-header>-->
          <!--            <mat-checkbox (change)="$event ? masterToggle() : null"-->
          <!--                          [checked]="selection.hasValue() && isAllSelected()"-->
          <!--                          [indeterminate]="selection.hasValue() && !isAllSelected()"-->
          <!--                          [aria-label]="checkboxLabel()">-->
          <!--            </mat-checkbox>-->
          <!--          </th>-->
          <!--          <td mat-cell *matCellDef="let row">-->
          <!--            <mat-checkbox (click)="$event.stopPropagation()"-->
          <!--                          (change)="$event ? selection.toggle(row) : null"-->
          <!--                          [checked]="selection.isSelected(row)"-->
          <!--                          [aria-label]="checkboxLabel(row)">-->
          <!--            </mat-checkbox>-->
          <!--          </td>-->
          <!--        </ng-container>-->


          <ng-container matColumnDef="financeId">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > FinanceId </th>
            <td mat-cell *matCellDef="let element"> {{element.financeId}} </td>
          </ng-container>

          <ng-container matColumnDef="sbrReferenceId">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> SBR No</th>
            <td mat-cell *matCellDef="let element"> {{element.sbrReferenceId}} </td>
          </ng-container>

          <ng-container matColumnDef="agreementId">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Agreement No</th>
            <td mat-cell *matCellDef="let element"> {{element.agreementId}} </td>
          </ng-container>

          <ng-container matColumnDef="financeCurrency">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Currency</th>
            <td mat-cell *matCellDef="let element"> {{element.financeCurrency}} </td>
          </ng-container>

          <ng-container matColumnDef="financeAmount">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.financeAmount}} </td>
          </ng-container>

          <ng-container matColumnDef="financeDueDate">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Due Date</th>
            <td mat-cell *matCellDef="let element"> {{element.financeDueDate | date: 'MM/dd/YYYY'}} </td>
          </ng-container>

          <ng-container matColumnDef="businessType">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Business Type</th>
            <td mat-cell *matCellDef="let element"> {{element.businessType}} </td>
          </ng-container>

          <ng-container matColumnDef="transactionStatus">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Trx Status </th>
            <td mat-cell *matCellDef="let element"> {{element.transactionStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header> Actions</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_ADMIN_MAKER')) && element.transactionStatus != 'MASTER'">
                <a (click)="openFinanceDialog(element,'edit')" title="Edit Transaction"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                </a>
              </ng-container>
              <ng-container *ngIf="authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_USER_CHECKER')
          || authRoles.includes('BANK_USER_VIEWER')
          || authRoles.includes('BANK_ADMIN_MAKER')
          || authRoles.includes('BANK_ADMIN_CHECKER')
          || authRoles.includes('BANK_ADMIN_VIEWER')">
                <a ng-if="(this.authRoles.includes('SUPER_ADMIN')" title="View Transaction"
                   (click)="openFinanceDialog(element,'view')"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/svg/icons/Code/Compiling.svg'"
                      class="svg-icon svg-icon-md svg-icon-success"></span>
                </a>
              </ng-container>
              <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_USER_MAKER')
          || authRoles.includes('BANK_USER_CHECKER')
          || authRoles.includes('BANK_USER_VIEWER')
          || authRoles.includes('BANK_ADMIN_MAKER')
          || authRoles.includes('BANK_ADMIN_CHECKER')
          || authRoles.includes('BANK_ADMIN_VIEWER' )) && element.transactionStatus === 'PENDING' ">
                <a
                  title="Authorize Transaction" (click)="openFinanceDialog(element,'auth')"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
                      class="svg-icon svg-icon-md svg-icon-warning"></span>
                </a>
              </ng-container>
              <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_ADMIN_VIEWER')
          || authRoles.includes('BANK_USER_VIEWER'))
          && element.transactionStatus === 'PENDING' ">
                <a title="Delete customer" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                   (click)="openFinanceDialog(deleteContent, element)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                      fill="#2DB757" class="svg-icon svg-icon-md svg-icon-danger">
                </span>
                </a>
              </ng-container>
              <ng-container *ngIf="(authRoles.includes('SUPER_ADMIN')
          || authRoles.includes('BANK_ADMIN_VIEWER')
          || authRoles.includes('BANK_USER_VIEWER')) ">
                <a title="View History" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                   (click)="openFinanceDialog(element,'viewHistory')">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Clipboard-list.svg'"
                      class="svg-icon svg-icon-md svg-icon-primary">
                </span>
                </a>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
              (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
              (mouseout)="row.hovered = false"></tr>
        </table>
        <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>

  <ng-template #deleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure to delete this?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
    </div>
  </ng-template>
  <!-- begin::Body -->
</div>
