<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-dark">RM Information</h2>
</div>
<div [formGroup]="rmStep1Form">
  <div class="fv-row mb-10">
    <label class="form-label required">RM Id</label
    ><input
    name="rmId"
    class="form-control form-control-lg form-control-solid"
    formControlName="rmId" placeholder="RM Id"
  />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        rmStep1Form.get('rmId')?.hasError('required') &&
        rmStep1Form.get('rmId')?.touched
      "
    >
      Relationship manager is required
    </div>
  </div>
  <div class="fv-row mb-10">
        <label class="form-label required">Name</label>
        <input
          type="text"
          class="form-control form-control-lg form-control-solid"
          name="firstName"
          formControlName="firstName"
          placeholder=" Name "
        />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        rmStep1Form.get('firstName')?.hasError('required') &&
        rmStep1Form.get('firstName')?.touched
      "
    >
      Name is required
    </div>
  </div>
  <div class="fv-row mb-10">
    <label class="form-label required">Last Name</label>
    <input
      type="text"
      class="form-control form-control-lg form-control-solid"
      name="lastName"
      formControlName="lastName"
      placeholder=" Name "
    />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        rmStep1Form.get('lastName')?.hasError('required') &&
        rmStep1Form.get('lastName')?.touched
      "
    >
      Name is required
    </div>
  </div>
  <div class="fv-row mb-0">
    <label class="fs-6 fw-bold form-label required">Email Address</label
    ><input
    name="emailAddress"
    class="form-control form-control-lg form-control-solid"
    formControlName="emailAddress"
  />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        rmStep1Form.get('emailAddress')?.hasError('required') &&
        rmStep1Form.get('emailAddress')?.touched
      "
    >
      Email Address is required
    </div>
  </div>
</div>

