<div class="table-responsive">
  <!-- begin::Table -->
  <mat-table [dataSource]="dataSource" matSort style="width: 100%;"
             class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">

    <!-- ID Column -->
    <ng-container matColumnDef="invoiceNumber" class="min-w-150px">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">INV No</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.invoiceNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sbrReferenceId">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">SBR No</mat-header-cell>
      <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.sbrReferenceId}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="agreementId">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Agreement No
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="label label-lg label-inline">{{row.agreementId}}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">CCY</mat-header-cell>
      <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Amount</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.amount }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Due Date
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.dueDate | date: 'MM/dd/YYY' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;"
             [style.background-color]="row.transactionStatus === 'PENDING' ? '#ceebfc' : 'white'">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
  </mat-paginator>
  <!-- end::Table -->
</div>
