<div class="pb-15 pb-lg-8">
  <h3 class="fw-bolder text-dark">RM Info</h3>
</div>
<div [formGroup]="rmForm" id="form">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="RM Id" required name="rmId" id="rmId" formControlName="rmId">
    </mat-form-field>

    <div class="col-xl-6">
      <label class="form-label required">RM Id</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Rm Id" name="rmId" [class.is-invalid]="isControlInvalid('rmId')"
             [class.is-valid]="isControlValid('rmId')" formControlName="rmId"/>
    </div>
    <div class="col-xl-6">
      <label class="form-label required">Email Address</label>
      <input type="email" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Email Address" name="emailAddress" [class.is-invalid]="isControlInvalid('emailAddress')"
             [class.is-valid]="isControlValid('emailAddress')" formControlName="emailAddress"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xl-6">
      <label class="form-label required">First Name</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="First Name" name="firstName" [class.is-invalid]="isControlInvalid('firstName')"
             [class.is-valid]="isControlValid('firstName')" formControlName="firstName"/>
    </div>
    <div class="col-xl-6">
      <label class="form-label required">Last Name</label>
      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Last Name" name="lastName" [class.is-invalid]="isControlInvalid('lastName')"
             [class.is-valid]="isControlValid('lastName')" formControlName="lastName"/>
    </div>

  </div>
  <div class="form-group row">
    <div class="col-xl-6">
      <label class="form-label required">Joining Date</label>
      <input type="date" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Joining Date" name="joiningDate" [class.is-invalid]="isControlInvalid('joiningDate')"
             [class.is-valid]="isControlValid('joiningDate')" formControlName="joiningDate"/>
    </div>
    <div class="col-xl-6">
      <label class="form-label required">Expiry Date</label>
      <input type="date" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Expiry Date" name="expiryDate" [class.is-invalid]="isControlInvalid('expiryDate')"
             [class.is-valid]="isControlValid('expiryDate')" formControlName="expiryDate"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xl-6">
      <label class="form-label required">Effective Date</label>
      <input type="date" class="form-control form-control-sm form-control-solid" autocomplete="off"
             placeholder="Effective Date" name="effectiveDate" [class.is-invalid]="isControlInvalid('effectiveDate')"
             [class.is-valid]="isControlValid('effectiveDate')" formControlName="effectiveDate"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xl-6">
      <label class="form-label required">Customer Info</label>
    </div>
    <div>
      <span>
          <button class="btn btn-light-success" (click)="openCustomerDialog()">Add</button>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <ng-container>
      <mat-table [dataSource]="dataSource" matSort style="width: 100%;"
                 class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <ng-container matColumnDef="customerId" class="min-w-150px">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="min-w-150px">Customer Id</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.customerId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email Address</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.emailAddress}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="effectiveDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Effective Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.effectiveDate | date: 'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="expiryDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.expiryDate | date: 'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" class="d-flex justify-content-end flex-shrink-0">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a title="Delete" (click)="openRMDelete(element)" class="btn btn-light-danger btn-sm btn-active-color-primary">
                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;"
                 [style.background-color]="row.transactionStatus === 'PENDING' ? '#ceebfc' : 'white'">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
      </mat-paginator>
    </ng-container>
  </div>
</div>
