<div class="card-body">
  <div [formGroup]="paymentForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Payment Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="paymentId" id="paymentId"
                   formControlName="paymentId" readonly>
            <label class="label_OA required">Payment Id</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <div class="input-group mb-3">
              <input class="floating-input_mandatory input-group mb-3" type="text" name="financeId"
                     id="financeId"
                     formControlName="financeId"
                     [class.is-invalid]="isControlInvalid('financeId')"
                     [class.is-valid]="isControlValid('financeId')">
              <label class="label_OA_mandatory">Finance Id</label>
              <span class="input-group-text_OA" (click)="openFinanceDialog()"><i class="fa fa-search fa-fw"></i></span>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_readonly">
            <input type="text" class="floating-input_readonly" autocomplete="off"
                   name="sbrReferenceId"
                   formControlName="sbrReferenceId"/>
            <label class="label_OA_readonly">SBR Reference Number</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_readonly">
            <input type="text" class="floating-input_readonly" autocomplete="off"
                   name="agreementId"
                   formControlName="agreementId"/>
            <label class="label_OA_readonly">Agreement Number</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
            <input type="text" class="floating-input_readonly" autocomplete="off"
                   name="buyerId" formControlName="buyerId"/>
            <label class="label_OA_readonly">Buyer Id</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input_readonly" autocomplete="off"
                   name="buyerName" formControlName="buyerName"/>
            <label class="label_OA_readonly">Buyer Name</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input_readonly" autocomplete="off" name="sellerId"
                   formControlName="sellerId"/>
            <label class="label_OA_readonly">Seller Id</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input_readonly" autocomplete="off"
                   name="sellerName" formControlName="sellerName"/>
            <label class="label_OA_mandatory">Seller Name</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input_readonly" autocomplete="off"
                   name="paymentType"
                   [class.is-invalid]="isControlInvalid('paymentType')"
                   [class.is-valid]="isControlValid('paymentType')" formControlName="paymentType"/>
            <label class="label_OA_mandatory required">Financing Type</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="businessType" [class.is-invalid]="isControlInvalid('businessType')"
                   [class.is-valid]="isControlValid('businessType')" formControlName="businessType"/>
            <label class="label_OA_mandatory">Business Type</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="date" class="floating-input_mandatory" autocomplete="off"
                   name="date" [class.is-invalid]="isControlInvalid('valueDate')"
                   [class.is-valid]="isControlValid('valueDate')" formControlName="valueDate"
            />
            <label class="label_OA_mandatory required">Value Date</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group row" *ngIf="isFinanceFetched && isDataSource">No records found</div>
      <div class="form-group row" *ngIf="isFinanceFetched && !isDataSource">
        <div>
          <table mat-table [dataSource]="dataSource" class="" cdkDropList
                 cdkDropListOrientation="horizontal"
                 (cdkDropListDropped)="drop($event)"
                 matSort
                 style="overflow-x: scroll; overflow-y: scroll"
          >
            <ng-container matColumnDef="invoiceNumber">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> INV No</th>
              <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="currency">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> CCY</th>
              <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Amount</th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="dueDate">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Due Date</th>
              <td mat-cell *matCellDef="let element"> {{element.dueDate | date: 'MM/dd/YYY'}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Status</th>
              <td mat-cell *matCellDef="let element"> {{element.status }} </td>
            </ng-container>

            <ng-container matColumnDef="transactionStatus">
              <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Trx Status</th>
              <td mat-cell *matCellDef="let element"> {{element.transactionStatus }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
                (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
                (mouseout)="row.hovered = false"></tr>
          </table>

          <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">SBR Reference Number</label>-->

<!--      <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--          <button-->
<!--            class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5 btn rounded-pill border-0 ml-n5"-->
<!--            type="button"-->
<!--            (click)="openSBRDialog()">-->
<!--            <i class="fa fa-search"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--        <input type="text" class="form-control form-control-sm form-control-solid" id="sbrReferenceId"-->
<!--               name="sbrReferenceId"-->
<!--               placeholder="SBR Reference Number" formControlName="sbrReferenceId"-->
<!--               [class.is-invalid]="isControlInvalid('sbrReferenceId')"-->
<!--               [class.is-valid]="isControlValid('sbrReferenceId')">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">Agreement Number</label>-->
<!--      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="Agreement Number" name="agreementId" [class.is-invalid]="isControlInvalid('agreementId')"-->
<!--             [class.is-valid]="isControlValid('agreementId')" formControlName="agreementId"/>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">Anchor Id</label>-->
<!--      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="Anchor Id" name="buyerId" [class.is-invalid]="isControlInvalid('buyerId')"-->
<!--             [class.is-valid]="isControlValid('buyerId')" formControlName="buyerId"/>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">Anchor Name</label>-->
<!--      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="Anchor Name" name="buyerName" [class.is-invalid]="isControlInvalid('buyerName')"-->
<!--             [class.is-valid]="isControlValid('buyerName')" formControlName="buyerName"/>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">CounterParty Id</label>-->
<!--      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="CounterParty Id" name="sellerId" [class.is-invalid]="isControlInvalid('sellerId')"-->
<!--             [class.is-valid]="isControlValid('sellerId')" formControlName="sellerId"/>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">CounterParty Name</label>-->
<!--      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="CounterParty Name" name="sellerName" [class.is-invalid]="isControlInvalid('sellerName')"-->
<!--             [class.is-valid]="isControlValid('sellerName')" formControlName="sellerName"/>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">Financing Type</label>-->
<!--      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="Financing Type" name="financingType" [class.is-invalid]="isControlInvalid('financingType')"-->
<!--             [class.is-valid]="isControlValid('financingType')" formControlName="financingType"/>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group row">-->
<!--    <div class="col-lg-3">-->
<!--      <label class="form-label required">Business Type</label>-->
<!--      <input type="text" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="Business Type" name="businessType" [class.is-invalid]="isControlInvalid('businessType')"-->
<!--             [class.is-valid]="isControlValid('businessType')" formControlName="businessType"/>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <label>Finance Due Date</label>-->
<!--      <input type="date" class="form-control form-control-sm form-control-solid" autocomplete="off"-->
<!--             placeholder="Finance Due Date" name="date" [class.is-invalid]="isControlInvalid('financeDueDate')"-->
<!--             [class.is-valid]="isControlValid('financeDueDate')" formControlName="financeDueDate"-->
<!--             (ngModelChange)="getInvoicesDate();invoiceSelected = true;"/>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group row"  *ngIf="invoiceSelected && isDataSource">No records found</div>-->
<!--  <div class="form-group row" *ngIf="invoiceSelected && !isDataSource">-->
<!--    <div class="table-responsive">-->
<!--      <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChanges($event)" style="width: 100%;height: 80%"-->
<!--                 class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">-->
<!--        <ng-container matColumnDef="checked">-->
<!--          <mat-header-cell *matHeaderCellDef>-->
<!--            <mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--                          [checked]="selection.hasValue() && isAllSelected()"-->
<!--                          [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--            </mat-checkbox>-->
<!--          </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row">-->
<!--            <mat-checkbox (click)="$event.stopPropagation()"-->
<!--                          (change)="$event ? selection.toggle(row) : null"-->
<!--                          [checked]="selection.isSelected(row)">-->
<!--            </mat-checkbox>-->
<!--          </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="invoiceNumber" class="min-w-150px">-->
<!--          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">INV No-->
<!--          </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row"> {{row.invoiceNumber}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="currency">-->
<!--          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">CCY</mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row" class="label label-lg label-inline"> {{row.currency}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="amount">-->
<!--          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Amount-->
<!--          </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row"> {{row.amount }} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="dueDate">-->
<!--          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Due Date-->
<!--          </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row"> {{ row.dueDate | date: 'MM/dd/YYY' }} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="status">-->
<!--          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Status-->
<!--          </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row"> {{ row.status }} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="actions" class="d-flex justify-content-end flex-shrink-0">-->
<!--          <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline"> Actions-->
<!--          </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let row">-->
<!--            <span>-->
<!--            <a title="Delete" (click)="openInvoiceDelete(row)"-->
<!--               class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">-->
<!--                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"-->
<!--                      class="svg-icon svg-icon-3"></span>-->
<!--              </a>-->
<!--          </span>-->
<!--          </mat-cell>-->
<!--        </ng-container>-->
<!--        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [style.min-height]="0"></mat-header-row>-->
<!--        <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;">-->
<!--        </mat-row>-->
<!--      </mat-table>-->
<!--      <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"-->
<!--                     [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">-->
<!--      </mat-paginator>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
