/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style";

// Replace above style with this SCSS file to enable dark mode styles
//@import "./assets/sass/style.dark";

html, body { height: 100%; }
body { margin: 0; }

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/ant.design.theme.css";

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 10000 !important;
}

mat-table {
  text-align:center;
  font-size:11px;
  font-family: Verdana,Sans-Serif;
  color: #1a084c;
  width: 600px;
  height: auto;
  overflow:auto;
}

//styles for the Heading...
h3{
  font-size:14px;
  font-family: Verdana,Sans-Serif;
  text-align:center;
  font-weight:bold;
  margin-top:0px;
}


//styles for material table


.example-container {
  height: 300px;
  width: 600px;
  margin-left: 30px;
}


mat-header-cell, mat-header-row, .mat-header-cell-def{
  text-align:center;
  min-height:25px;
  font-family:Verdana,sans-serif;
  font-weight:bold;
  font-size:12px;
  color: #1a084c;
  margin-bottom:10px;
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
}

mat-row{
  text-align:center;
  min-height:25px;
  font-family:Verdana,sans-serif;
  font-size:13px;
  color: #1a084c;
  margin-bottom:10px;

}
mat-cell{
  text-align:center;
  height:25px;
  font-family:Verdana,sans-serif;
  font-size:13px;
  color: #1a084c;

}



//styles for mat raised button

.mat-raised-button{
  border-radius: 15px;
  margin-left: 50px;
  font-size:12px;
  font-family: Verdana,Sans-Serif;
  text-align:center;
  font-weight:bold;
  height:30px;

}

.mat-grid-tile {
  background: lightblue;
  margin-left:-600px;

}

.input_OA {
  height: 32px;
  font-size: 12px;
  font-family: Verdana,Sans-Serif;
}

.select_OA {
  height: 32px;
  font-size: 12px;
  font-family: Verdana,Sans-Serif;
}

.button_OA {
  height: 32px;
  background: #2babff;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}

.input_OA_required {
  border-color: #fae6c3;
  border-style: solid;
}

.input_OA_protected {
  border-color: #797474;
  border-style: solid;
}

.input_OA_open {
  border-color: #d8e8d2;
  border-style: solid;
}


