<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-dark">Admin Information</h2>
</div>
<div [formGroup]="form">
  <div class="fv-row mb-10">
    <label class="form-label required">User Id</label
    ><input
    name="userId"
    class="form-control form-control-lg form-control-solid"
    formControlName="userId" placeholder="User Id"
  />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('userId')?.hasError('required') &&
        form.get('userId')?.touched
      "
    >
      UserId is required
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="form-group">
        <label class="form-label required">First Name</label>
        <input
          type="text"
          class="form-control form-control-lg form-control-solid"
          name="firstName"
          formControlName="firstName"
          placeholder="First Name"
        />
      </div>
    </div>
    <div class="col-xl-6">
      <label class="form-label required">Last Name</label
      ><input
      type="text"
      class="form-control form-control-lg form-control-solid"
      name="lastName"
      formControlName="lastName"
      placeholder="Last Name"
    />
    </div>
  </div>
  <div class="fv-row mb-0">
    <label class="fs-6 fw-bold form-label required">Email Address</label
    ><input
    name="emailAddress"
    class="form-control form-control-lg form-control-solid"
    formControlName="emailAddress"
  />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('emailAddress')?.hasError('required') &&
        form.get('emailAddress')?.touched
      "
    >
      Email Address is required
    </div>
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('emailAddress')?.hasError('email') &&
        form.get('emailAddress')?.touched
      "
    >
      Wrong email format
    </div>
  </div>
</div>
