<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      customer
    </div>
  </div>
  <div class="modal-body">

    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a
          class="nav-link"
          data-toggle="tab"
          role="tab"
          [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB"
        >
          Customer info
        </a>
      </li>
      <li
        class="nav-item cursor-pointer"
        (click)="changeTab(tabs.REMARKS_TAB)"
      >
        <a
          class="nav-link"
          data-toggle="tab"
          role="button"
          [attr.aria-selected]="activeTabId === tabs.REMARKS_TAB"
          [class.active]="activeTabId === tabs.REMARKS_TAB"
        >Business Info</a
        >
      </li>
    </ul>
    <form action="#" class="form form-label-right" [formGroup]="form">
      <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">

        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Customer Id</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-lg form-control-solid" name="customerId"
                     placeholder="Customer Id" autocomplete="off" formControlName="customerId">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button" (click)="openCustomer()">...</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="name"
                   placeholder="name" autocomplete="off" formControlName="name">
          </div>
          <div class="col-lg-4">
            <label class="form-label">Active State</label>
            <label class="form-check form-switch form-check-custom form-check-solid">
      <span class="form-check-label fw-bold text-gray-400"
      >Enabled</span>
              <input
                class="form-check-input"
                name="status"
                formControlName="status"
                type="checkbox"
              /><span class="form-check-label fw-bold text-gray-400">Disabled</span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Address Line 1</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="addressLine1"
                   placeholder="Address Line 1" autocomplete="off" formControlName="addressLine1">
          </div>
          <div class="col-lg-4">
            <label class="form-label">Address Line 2</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="addressLine2"
                   placeholder="Address Line 2" autocomplete="off" formControlName="addressLine2">
          </div>
          <div class="col-lg-4">
            <label class="form-label">Address Line 3</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="addressLine3"
                   placeholder="Address Line 3" autocomplete="off" formControlName="addressLine3">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">PO Box</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="poBox"
                   placeholder="Po Box" autocomplete="off" formControlName="poBox">
          </div>
          <div class="col-lg-4">
            <label class="form-label">Country</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="country"
                   placeholder="Country" autocomplete="off" formControlName="country">
          </div>
          <div class="col-lg-4">
            <label class="form-label">Email Address</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="emailAddress"
                   placeholder="Email Address" autocomplete="off" formControlName="emailAddress">
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="activeTabId === tabs.REMARKS_TAB">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Effective Date</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-lg form-control-solid" name="effectiveDate"
                     placeholder="Effective Date" autocomplete="off" formControlName="effectiveDate">
            </div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Expiry Date</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="expiryDate"
                   placeholder="Expiry Date" autocomplete="off" formControlName="expiryDate">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">VAT Registration Number</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-lg form-control-solid" name="vatRegistrationNumber"
                     placeholder="VAT Registration Number" autocomplete="off" formControlName="vatRegistrationNumber">
            </div>
          </div>
          <div class="col-lg-4">
            <label class="form-label">Tax Registration Number</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="taxRegistrationNumber"
                   placeholder="Tax Registration Number" autocomplete="off" formControlName="taxRegistrationNumber">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Director Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="directorName"
                   placeholder="Director Name" autocomplete="off" formControlName="directorName">
          </div>
          <div class="col-lg-4">
            <label class="form-label">Director Details</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="directorDetails"
                   placeholder="Director Details" autocomplete="off" formControlName="directorDetails">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Sponsor Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="sponsorName"
                   placeholder="Sponsor Name" autocomplete="off" formControlName="sponsorName">
          </div>
          <div class="col-lg-4">
            <label class="form-label">Sponsor Details</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="sponsorDetails"
                   placeholder="Sponsor Details" autocomplete="off" formControlName="sponsorDetails">
          </div>

        </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
    <ng-container *ngIf="customer">

      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
              [disabled]="form.invalid">Save
      </button>
    </ng-container>
  </div>
</div>

