<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Voucher Entries</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card" *ngFor="let dataHeader of dataHeader">
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">System Id : </label>
        <label class="form-label">{{ dataHeader.systemId}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Transaction Id : </label>
        <label class="form-label">{{ dataHeader.transactionId}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Created Date : </label>
        <label class="form-label">{{ dataHeader.createdDate}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Modified Date : </label>
        <label class="form-label">{{ dataHeader.modifiedDate}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Created User : </label>
        <label class="form-label">{{ dataHeader.createdUser}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Modified User : </label>
        <label class="form-label">{{ dataHeader.modifiedUser}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Authorised User : </label>
        <label class="form-label">{{ dataHeader.authorisedUser}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Authorisation Date : </label>
        <label class="form-label">{{ dataHeader.authorisationDate}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Transaction Status : </label>
        <label class="form-label">{{ dataHeader.transactionStatus}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Voucher Name : </label>
        <label class="form-label">{{ dataHeader.voucherName}}</label>
      </div>
    </div>
  </div>
  <div class="card">
    <table mat-table [dataSource]="dataSource" class="" cdkDropList
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="drop($event)"
           matSort
           style="overflow-x: scroll; overflow-y: scroll"
    >

      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > Account Number </th>
        <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="accountCurrency">
        <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > Account Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.accountCurrency}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="accountDescription">
        <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > Description </th>
        <td mat-cell *matCellDef="let element"> {{element.accountDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="debitCreditFlag">
        <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > Flag </th>
        <td mat-cell *matCellDef="let element"> {{element.debitCreditFlag}} </td>
      </ng-container>

      <ng-container matColumnDef="exchangeRate">
        <th mat-header-cell cdkDrag *matHeaderCellDef   mat-sort-header > Rate </th>
        <td mat-cell *matCellDef="let element"> {{element.exchangeRate}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
          (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
          (mouseout)="row.hovered = false"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
</div>
