<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Voucher Entries</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card" *ngFor="let dataHeader of dataHeader">
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">System Id : </label>
        <label class="form-label">{{ dataHeader.systemId}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Transaction Id : </label>
        <label class="form-label">{{ dataHeader.transactionId}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Created Date : </label>
        <label class="form-label">{{ dataHeader.createdDate}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Modified Date : </label>
        <label class="form-label">{{ dataHeader.modifiedDate}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Created User : </label>
        <label class="form-label">{{ dataHeader.createdUser}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Modified User : </label>
        <label class="form-label">{{ dataHeader.modifiedUser}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Authorised User : </label>
        <label class="form-label">{{ dataHeader.authorisedUser}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Authorisation Date : </label>
        <label class="form-label">{{ dataHeader.authorisationDate}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xl-6">
        <label class="form-label">Transaction Status : </label>
        <label class="form-label">{{ dataHeader.transactionStatus}}</label>
      </div>
      <div class="col-xl-6">
        <label class="form-label">Voucher Name : </label>
        <label class="form-label">{{ dataHeader.voucherName}}</label>
      </div>
    </div>
  </div>
  <div class="card">
    <mat-table [dataSource]="dataSource" matSort style="width: 100%;"
               class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
      <ng-container matColumnDef="accountNumber" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Account Number</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.accountNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accountCurrency" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Account Currency
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.accountCurrency}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Amount
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accountDescription" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Account Description
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.accountDescription}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="debitCreditFlag" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Debit/Credit Flag
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.debitCreditFlag}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exchangeRate" class="min-w-150px">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="label label-lg label-inline">Exchange Rate
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.exchangeRate}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let index = dataIndex; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
</div>
